/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* ========== @font-face =========== */

@font-face {
    font-family: 'NewsCycleRegular';
    src: url('../fonts/NewsCycle-Regular-webfont.eot');
    src: url('../fonts/NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsCycle-Regular-webfont.woff') format('woff'),
         url('../fonts/NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('../fonts/NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaLTStdBoldCondensed';
    src: url('../fonts/helveticaltstd-boldcond-webfont.eot');
    src: url('../fonts/helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-boldcond-webfont.woff') format('woff'),
         url('../fonts/helveticaltstd-boldcond-webfont.ttf') format('truetype'),
         url('../fonts/helveticaltstd-boldcond-webfont.svg#HelveticaLTStdBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Serif12BetaRegular';
    src: url('../fonts/serif12beta-regular-webfont.eot');
    src: url('../fonts/serif12beta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/serif12beta-regular-webfont.woff') format('woff'),
         url('../fonts/serif12beta-regular-webfont.ttf') format('truetype'),
         url('../fonts/serif12beta-regular-webfont.svg#Serif12BetaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
	font-family: Helvetica, sans-serif;
	text-align: left;
	padding-bottom: 50px;
	
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(255,255,255)),
	    color-stop(0.68, rgb(255,255,255)),
	    color-stop(0.84, rgb(245,245,245))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 35%,
	    rgb(255,255,255) 68%,
	    rgb(245,245,245) 84%
	);
	
	width: 100%;
	
	
}

h1 {
	font-family:  'HelveticaLTStdBoldCondensed', 'Serif12BetaRegular';
	letter-spacing: 0px;
	font-size: 50px;
	text-align: center;
	font-weight: 100;
	color: #0973ba;
	text-shadow: #FFFFFF 0 1px 0px, #DDDDDD 0 2px 0px, #CCCCCC 0 3px 0;
}

h2 {
	color: #0973BA;
 	font-size: 24px;
	font-weight: 100;
	margin-bottom: 10px;
	text-align: left;
	text-shadow: #418FC4 0 1px 2px;
}


h3#lead, h3#lead-1 { border-bottom: 1px solid silver;
    border-spacing: 5px;
    border-top: 1px solid silver;
    line-height: 1.3;
    margin-bottom: 5px;
    padding: 16px 0;
    text-align: center;
	color: #000000;
	font-size-adjust: 0.56;
	font-weight: 100;
}


h3 {  
	margin-bottom: 5px; 
	padding-bottom: 3px; 
	text-align: left;
	font-size: 18px;
}

	h3#lead-1 {
		position: relative;
		top: 25px;
		font-weight: bold;
	}

p {
	font-family: Helvetica, 'Serif12BetaRegular', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	line-height: 24px;
	text-align: left;
	margin: 15px 0;
	color: #1c1b1b;
	letter-spacing: 0.3px;
}

p strong {
	font-weight: 600;
}

ul li {
	list-style-type: none;
}

p a, li a {
	color: #C32127;
	text-decoration: none;
}

ul { 
	font-size: 16px; 
	line-height: 1.3em; 
	font-weight: normal;
} 


#main-header {
	/*background: url("../images/head-bg.jpg") repeat;*/
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(0,63,122)),
	    color-stop(0.68, rgb(0,53,103)),
	    color-stop(0.84, rgb(0,47,90))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(0,63,122) 35%,
	    rgb(0,53,103) 68%,
	    rgb(0,47,90) 84%
	);
	
	padding-top: 12px;
	position: relative;
	z-index: 40000;
	height: 60px;
	text-align:right;
	
	box-shadow:rgba(0, 0, 0, 0.296875) 0 1px 5px;
	-moz-box-shadow:rgba(0, 0, 0, 0.296875) 0 1px 5px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.296875) 0 1px 5px;
	
}

#logo {height: 50px;
    padding: 15px 0 0;
    position: absolute;
	width: 270px;}

nav {
	float: right;
	margin: 0;
}

	ul.header_links {
	}

	nav li {
	  float:left;
	  font-size: 16px;
	  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	  height:50px;
	  line-height:35px;
	  list-style-type:none;
	  margin-right:25px;
	  position:relative;
	  letter-spacing: 0.2px;
	  text-transform: uppercase;
	}
	
	nav ul li a {
		display: block;
		color: white;
		text-decoration: none;
		text-shadow: 0px 2px 2px #000000;
	}
	
		nav li a:hover,
    nav li a.active {
			color: #7DB1DD;
			text-shadow: 0 1px 1px #000;
		}
	
		nav li.last a {
			color: red;
			font-weight:600;
			text-shadow:#000000 0 1px 2px;
		}


#main-footer {
/*  background: url("../images/head-bg.jpg") repeat;
*/	
  background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.35, rgb(0,63,122)),
	    color-stop(0.68, rgb(0,53,103)),
	    color-stop(0.84, rgb(0,47,90))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(0,63,122) 35%,
	    rgb(0,53,103) 68%,
	    rgb(0,47,90) 84%
	);
  height: 90px;
	border-top: 3px solid rgba(0, 0, 0, 0.2);
	text-align:left;
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin-bottom: -52px;
}



.wrapper {
	margin: 0 auto;
	width: 960px;
}

	.wrapper h2 {
		margin-top: 26px;
	}



	nav li {
	   	float:left;
		font-size:18px;
		height:35px;
		line-height:26px;
		list-style-type:none;
		margin-right:25px;
		margin-top:-7px;
		padding-bottom:20px;
		position:relative;
		top:20px;
	}
	
	nav ul li a {
		display: block;
		color: white;
		text-decoration: none;
	}
	
		nav li.last a {
			color: red;
		}
		
#mast-wrapper {
  height:400px;
  /*background: url(../images/mast_bg.gif) repeat-x;*/
  }

#mast-body {
  text-align:center;
}
	#mast-body img {
		position: relative;
		top: 35px;
		left: 29px;
	}
	
	#mast-body #apply-button {
		bottom: 274px;
		left: 94px;
		position: relative;
	}
	
		#mast-body #apply-button .button {
			font-size: 30px;
		}
	
	p#sell, p#tag {
		bottom: 194px;
		color: white;
		left: 422px;
		position: relative;
		width: 100%;
		text-shadow:rgba(38, 31, 98, 0.496094) 0 2px 0;
		font-size: 17px;
		clear:both;		
	}
	
	#ca-tagline {
		width: 100%;
	}
	
	p#tag {
		margin-top: -10px;
	}
	
.splash {
	background: #0973BA;
	overflow: hidden;
}
	#buttons {
		bottom:174px;
		left:224px;
		margin-right: 10px;
		position: relative;
	}
	
		img#submit {
			margin-left: 250px;
			margin-top: 21px;
		}
		
		img#submit a:hover {
			color: black;
		}
	
#testimonial {
  margin:-15px 0 0 0;
  background: url(../images/8bit_bg_03.png) repeat;
  text-align:center;
}

#solve {
  margin:6px 0 0 0;
  text-align:center;
  height:710px;
  background-color:#fff;
}

.solve.inner h3 strong {
	bottom: 26px;
	color: black;
	position: relative;
}

	#splash-1 {
		position: relative;
		top: 100px;
	}

	#splash-1 h1 {
		color: #000000;
		font-family: 'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
		font-size: 68px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: -20px;
	}
	
		#splash-1 a h1 {
			text-decoration: none;
		}
	
		#splash-1 a:hover h1 {
			color: #2A6DB7;
			text-decoration: none;
		}
	
	#splash-1 h3 {
		font-family: Helvetica;
		font-size: 26px;
		font-weight:100;
		line-height: 1.3;
		padding: 0 200px;
		position: relative;
		text-align: center;
		margin-top: 8px;
		color: #777;
		text-shadow:#EEEEEE 0 2px 0;
	}
	
	#splash-1 img {
		right: 20px;
		top: -30px;
	}
	
	#splash-1 a:hover {
	} 
	
	img#icons {
		top: -56px;
		position: relative;
		left: 1px;
		width: 676px;
	}
	
	.program-preview {
		font-family:'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
	}
	
	.program-preview h4 {
		font-size: 27px;
		font-weight: 100;
		text-transform: uppercase;
		color: white;
		background: #C32127;
		height: 40px;
		width: 515px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top: 15px;
		text-shadow:rgba(0, 0, 0, 0.296875) 0 2px 0;
	}
	
	#red-title {
		margin-top: 40px;
	}
	
		#red-title a:hover h4 {
			color: #e5e4e4;
		}
	
	img.program-preview {
		clear: both;
		margin-top: 45px;
		position: relative;
		margin-left: 25px;
	}
	
	
#options {
	left: 7px;
	bottom: 15px;
	margin: 0 auto;
	position: relative;
	width: 767px;
}
	
	.buttons {
		display: block;
		float: left;
		margin: 0 auto;
	}
	
	.buttons.last {
		margin-right: 0 !important;
	}
	
	#options-buttons {
		float: left;
	}

		#options-buttons a, #options-buttons p {
			bottom:49px;
			color:white;
			float:right;
			font-family:'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
			font-size:21px;
			font-weight:400;
			left:18px;
			margin-left:5px;
			margin-right:34px;
			position:relative;
			text-decoration:none;
			text-shadow: 0 2px 0 #28265E;
		}
		
		#options-buttons a:hover p {
			color: #7DB1DD;
		}
		
		
		
		#options-buttons img {
			left:10px;
			position:relative;
			top:-50px;
		}
		
		#options-buttons a#space:hover img {
			background: url('../images/spaces_hover_03.png') no-repeat;
		}
	
		

#learn_best {
  margin: -85px 0 0;
  text-align:center;
  height:400px;
  padding:20px 0 0 0;
  background: #0973BA;
  clear: both;
}
  .learn_best.inner {
	margin: 33px auto 0;
	position: relative;
	background: #fff;
	width: 885px;
	height: 314px;
}

	#people_preview {
		clear: both;
		margin-left: 25px;
		margin-top: 34px;
		position: relative;
		left: -14px;
	}
	
	#learn-content {
		float: right;
		width: 500px;
		margin-top: 40px;
	}
	
		#learn-content h3 {
			font-family: 'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
			font-size: 39px;
			font-weight: 100;
			text-transform: uppercase;
		}
		
		#learn-content p {
			color:#888888;
			font-size:21px;
			line-height:1.2;
		}
	
	#meet_team_button {
		bottom: 58px;
		clear: both;
		left: 82px;
		margin: 0 auto;
		position: relative;
		width: 767px;
	}





		
/* ============= Home Page CSS - Part 1 ============= */

#home-rotator {
	display: none;
}

.imgleft {
	float:left;
	width: 300px;
}

#ca-tagline h2 {
	color: white;
	font-family: 'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
	font-weight: 500;
	position: relative;
	text-align: center;
	text-shadow: 0 2px 0 #272260;
	text-transform: uppercase;
	top: 67px;
	font-size: 22px;
	margin-top: -10px;
	
}

	#ca-tagline h2 strong {
		bottom: 28px;
		font-size: 51px;
		position: relative;
	}
	

#value-1, #value-2, #value-3, #value-4, #value-5 {
	margin-top: 50px;
}

	#value-1 h1 {
		font-size: 40px;
	}
	
	#value-1 h2 {
		text-align: center;
	}
#splash-bg {
	width: 100%;
	background: #0a74ba;
}


#value-prop {
	padding: 25px;
}

#value-prop h1 {
    color: white;
	font-size: 24px;
	left: 15px;
	position: relative;
	text-shadow: 0 1px 2px #272260;
	text-transform: uppercase;
	top: 75px;
	width: 616px;
}

	#value-prop h1 strong {
		text-transform: uppercase;
		font-size: 58px;
	}
	
	#value-prop h2 {
		text-align: center;
	}
	
.testimonial.inner {
	height: 124px;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}

	.testimonial.inner p {
		position: relative;
		top: 20px;
	}

	p.quote {
		font-family: 'Serif12BetaRegular', Helvetica, Arial, sans-serif;
		font-size: 17px;
		font-style: italic;
		font-weight: 100;
		line-height: 1.3;
		padding: 10px;
		position: relative;
		color: rgba(0,0,0,.6);
		width: 720px;
		margin-left: auto;
		margin-right: auto;
	}

	p strong.home {
		font-weight: normal;
		left: 56px;
		position: relative;
	}
	
	p.quote em {
		font-weight: 400;
		left: 53px;
		position: relative;
		color: #0a74ba;
	}

	.opening, .opening-home {
		font-size: 80px;
		color: #418FC4;
	}

	.opening-home {
		left: 6px;
		position: relative;
		top: 63px;
	}
	
	.testimonial.inner img {
		border: 3px solid white;
		float: left;
		left: 22px;
		position: relative;
		top: 20%;
	}

	a {
		text-decoration: none;
	}
