/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
}

.Fr {
	float: right;
	display: block;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
	color: #333333;
	font-weight: normal;
	margin-bottom: 18px;
	text-align: left;
	line-height: 21px;
}

ul li {
	list-style-type: none;
}

p a, li a {
	color: #C32127;
}

.img-left {
	float:left;
}

.team-title {
	float:left;
	width: 430px;
}


#main-header {
	background: url("../images/head-bg.jpg") repeat;
	padding-top: 22px;
	position: relative;
	z-index: 40000;
	height: 70px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	text-align:left;
	
}
#logo {padding:15px 0 0 0;position:absolute;left:70px;height:50px;}

.wrapper {
	margin: 0 auto;
	/*width: 1070px;*/

}

	.wrapper h2 {
		color: black;
		margin-top: 26px;
	}


nav {
	float: right;
}

	nav li {
	   	float:left;
		font-size:18px;
		height:35px;
		line-height:35px;
		list-style-type:none;
		margin-right:25px;
		margin-top:-7px;
		padding-bottom:20px;
		position:relative;
		top:20px;
	}
	
	nav ul li a {
		display: block;
		color: white;
		text-decoration: none;
	}
	
		nav li.last a {
			color: red;
		}

#splash-bg {
	width: 100%;
	background: #0a74ba;
}

#value-prop {
	padding: 25px;
}

#value-prop h1 {
    color: white;
	font-size: 24px;
	left: 15px;
	position: relative;
	text-shadow: 0 1px 2px #272260;
	text-transform: uppercase;
	top: 75px;
	width: 616px;
}

	#value-prop h1 strong {
		text-transform: uppercase;
		font-size: 58px;
	}
	
	#value-prop h2 {
		text-align: center;
	}


/* ======= Program Page CSS ======== */

.program-header {
	clear: both;
	width: 100%;
	float: left;
	margin-top: 15px;
}

	.program-header h2 {
		vertical-align: baseline;
	}
	
	.program-header a {
		position: relative;
		text-decoration: none;
		top: 80px;
	}
	#program-header-1, #program-header-2, #program-header-3, #program-header-4 {
		display: inline;
		cursor: pointer;
		height: 195px;
		width: 210px;
		float: right;
		background: #dedede;
		margin-right: 5px;
		margin-top: 15px;
	}
#overview, #ca-schedule, #students, #space {
	clear: both;
	padding-left: 98px;
	position: relative;
	top: 50px;
}

	#part-1, #part-2, #part-3, #part-4 {
		margin-top: 50px;
		text-align: center;
	}
	
		#part-1 h1 {
			font-size: 50px;
		}
		
		#part-1 p {
			margin-top: 18px;
		}

#weekly-schedule li {
	list-style-type: none;
}

#ca-students h1, #students h1, #space h1, #space h3 {
	text-align: center;
}


/*======== Staff Section ======== */

#staff {
	text-align: left;
}


#mentors {
	clear: both;
	text-align: left;
}

.img-left {
	float: left;
	width: 200px;
}

	.img-left img {
		width: 128px;
	}

.team-title {
	float: left;
	width: 440px;
}

.leadership {
	clear: both;
	text-align: left;	
}

	.leadership img {
		width: 128px;
	}

.cl-15 {
	clear: both;
	font-size: 1px;
	height: 15px;
}

/*====== Community Page CSS ======== */

.row-1 {
	margin: auto 30px;
	width: 900px;
}

	.row-1 img {
		display: inline;
		width: 128px;
		margin-right: 10px;
	}

/* ====== Video Page CSS ====== */



.entrepreneurs, .developers, .students, .investors {
	text-align: left;
}

	.entrepreneurs h2, .developers h2, .students h2, .investors h2 {
		padding: 10px;
		background-color: green;
		color: white;
		width: 200px;
	}
	
	.entrepreneurs h3, .developers h3, .students h3, .investors h3 {
		padding: 7px;
		background-color: blue;
		color: white;
		width: 100px;
	}
	
	.entrepreneurs a, .developers a, .students a, .investors a {
		text-decoration: none;
		color: white;
		cursor: pointer;
	}

footer {
	clear: both;
	text-align: left;
}




/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}


#scroll-container {min-height:1200px;}

div.section{
	width:98%;
	padding:10px;
	margin: 5px 0;
	position:absolute;
	overflow:auto;
}
	div.section h3{
		margin-bottom:10px;
	}
	div.section .pane-0{
		position:relative;
		left:0;
		width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-1{
	  position:relative;
		width:25%;
		height:600px;
		float:left;
		background-color:red;
	}
	div.section .pane-2{
	  position:relative;
		width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-3{
		position:relative;
		width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-4{
		position:relative;
    width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-5{
		position:relative;
    width:25%;
		height:600px;
		float:left;
	}
	
	div.pane{
		overflow:hidden;
		clear:left;
		margin: 10px 0px 0 10px;
	  width:98%;
		height:600px;
	}
	.pane ul {
	  height:800px;
	  width:10000px;
	}
ul.elements{
	background-color:#000;
	width:10000px;
}

	ul.elements li{
		height:100px;
		font-weight:bolder;
		text-align:left;
		padding:50px;
		background-color:#fff;
	}
		ul.elements li a{
			bottom:20px;
			color:#933;
			font-size:12px;
			left:125px;
			position:absolute;
		}
		ul.elements li p{
			color:#666;
		}
	#pane-options ul.elements li{
		margin:5px;
	}
	#pane-options{
		margin-bottom:10px;
	}
ul.links{
	height:20px;
}
	ul.links a{
		color:#69C;
		margin:0pt 5px;
	}
h3 span{
	position:absolute;			
}
.message{
	background:#EEE;
	border:1px solid #999;
	color:#333;
	font-size:12px;
	font-weight:normal;
	padding:1px;
	margin-top:2px;
}

.footer_links a{color:#000 !important;}
