/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* ========== @font-face =========== */

@font-face {
    font-family: 'NewsCycleRegular';
    src: url('../fonts/NewsCycle-Regular-webfont.eot');
    src: url('../fonts/NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NewsCycle-Regular-webfont.woff') format('woff'),
         url('../fonts/NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('../fonts/NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaLTStdBoldCondensed';
    src: url('../fonts/helveticaltstd-boldcond-webfont.eot');
    src: url('../fonts/helveticaltstd-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-boldcond-webfont.woff') format('woff'),
         url('../fonts/helveticaltstd-boldcond-webfont.ttf') format('truetype'),
         url('../fonts/helveticaltstd-boldcond-webfont.svg#HelveticaLTStdBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Serif12BetaRegular';
    src: url('../fonts/serif12beta-regular-webfont.eot');
    src: url('../fonts/serif12beta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/serif12beta-regular-webfont.woff') format('woff'),
         url('../fonts/serif12beta-regular-webfont.ttf') format('truetype'),
         url('../fonts/serif12beta-regular-webfont.svg#Serif12BetaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
	font-family: 'Serif12BetaRegular', Helvetica, sans-serif;
	text-align: left;
	background: url(../images/8bit_bg_03.png) repeat;
	padding-bottom: 50px;
}
#mast-wrapper {
  width:100%;
  height:397px;
  background: url(../images/mast_bg.gif) repeat-x;
  
}
#mast-body {
  text-align:center;
}
#testimonial {
  margin:6px 0 0 0;
  background: url(../images/8bit_bg_03.png) repeat;
  text-align:center;
}
#testimonial.inner {
  
}
#solve {
  margin:6px 0 0 0;
  text-align:center;
  height:710px;
  background-color:#fff;
}
#solve.inner {
  
}


#learn_best {
  margin:6px 0 0 0;
  text-align:center;
  height:400px;
  padding:20px 0 0 0;
}
  .learn_best.inner {}

.Fr {
	float: right;
	display: block;
	width: 500px;
}

h1 {
	font-family:  'HelveticaLTStdBoldCondensed', Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
	font-size: 50px;
	text-align: center;
	font-weight: 100;
	color: #0973ba;
}

h2 {
	color: #0973BA;
	font-family: 'Serif12BetaRegular';
 	font-size: 24px;
	font-weight: 100;
	margin-bottom: 10px;
	text-align: left;
}


h3#lead { border-bottom: 1px solid silver;
    border-spacing: 5px;
    border-top: 1px solid silver;
    line-height: 1.3;
    margin-bottom: 5px;
    padding: 16px 0;
    text-align: center;
	color: #000000;
	font-size-adjust: 0.56;
	font-weight: 100;
}

h3 {  
	margin-bottom: 5px; 
	padding-bottom: 3px; 
	text-align: left;
	font-size: 18px;
}

p {
	font-family: 'Serif12BetaRegular', Helvetica;
	font-size: 18px;
	font-weight: lighter;
	line-height: 24px;
	text-align: left;
	margin: 15px 0;
	color: #1c1b1b;
	letter-spacing: 0.3px;
}

ul li {
	list-style-type: none;
}

p a, li a {
	color: #C32127;
	text-decoration: none;
}

ul { 
	font-size: 16px; 
	line-height: 1.3em; 
	font-weight: normal;
} 


#main-header {
	background: url("../images/head-bg.jpg") repeat;
	padding-top: 12px;
	position: relative;
	z-index: 40000;
	height: 60px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	text-align:right;
	
}

nav {
	float: right;
}

	ul.header_links {
		position:relative;
		left:-130px;
		top:-10px;
	}

	nav li {
	  float:left;
		font-size:18px;
		height:35px;
		line-height:35px;
		list-style-type:none;
		margin-right:25px;
		position:relative;
	}
	
	nav ul li a {
		display: block;
		color: white;
		text-decoration: none;
	}
	
		nav li.last a {
			color: red;
		}


#main-footer {
	background: url("../images/head-bg.jpg") repeat;
	height: 75px;
	border-top: 3px solid rgba(0, 0, 0, 0.2);
	text-align:left;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
}

#logo {padding:15px 0 0 0;position:absolute;left:70px;height:50px;}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

	.wrapper h2 {
		margin-top: 26px;
	}



	nav li {
	   	float:left;
		font-size:18px;
		height:35px;
		line-height:35px;
		list-style-type:none;
		margin-right:25px;
		margin-top:-7px;
		padding-bottom:20px;
		position:relative;
		top:20px;
	}
	
	nav ul li a {
		display: block;
		color: white;
		text-decoration: none;
	}
	
		nav li.last a {
			color: red;
		}
		
/* ============= Home Page CSS - Part 1 ============= */


#value-1, #value-2, #value-3, #value-4, #value-5 {
	margin-top: 50px;
}

	#value-1 h1 {
		font-size: 40px;
	}
	
	#value-1 h2 {
		text-align: center;
	}
#splash-bg {
	width: 100%;
	background: #0a74ba;
}

#value-prop {
	padding: 25px;
}

#value-prop h1 {
    color: white;
	font-size: 24px;
	left: 15px;
	position: relative;
	text-shadow: 0 1px 2px #272260;
	text-transform: uppercase;
	top: 75px;
	width: 616px;
}

	#value-prop h1 strong {
		text-transform: uppercase;
		font-size: 58px;
	}
	
	#value-prop h2 {
		text-align: center;
	}


/* ======= Program Page CSS ======== */

.program-header {
	clear: both;
	width: 100%;
	float: left;
	margin-top: 15px;
}

	.program-header h2 {
		vertical-align: baseline;
	}
	
	.program-header a {
		position: relative;
		text-decoration: none;
		top: 80px;
	}
	#program-header-1, #program-header-2, #program-header-3, #program-header-4, #program-header-5 {
		display: inline;
		cursor: pointer;
		height: 195px;
		width: 210px;
		float: right;
		background: #dedede;
		margin-right: 5px;
		margin-top: 15px;
	}
#overview, #ca-schedule, #students, #space {
	clear: both;
	padding-left: 98px;
	position: relative;
	top: 50px;
}

	#part-1, #part-2, #part-3, #part-4, #part-5 {
		margin-top: 50px;
		text-align: center;
	}
	
		#part-1 h1 {
			font-size: 50px;
		}
		
		#part-1 p {
			margin-top: 18px;
		}

#weekly-schedule {
	clear: both;
}

#dates img {
	width: 245px;
}

#weekly-schedule li {
	list-style-type: none;
	text-align: left;
}

#ca-students h1, #students h1, #space h1, #space h3 {
	text-align: center;
}


/*======== Staff Section ======== */

#staff {
	text-align: left;
}

.intro {
	clear: both;
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

	.intro h3 {
		font-weight: 100;
		letter-spacing: 0.5px;
		line-height: 1.3em;
		margin: 25px 0;
		text-align: center;
	}
	
	li.bio {
		background-image: none;
		float: left;
		list-style: none outside none;
		margin-right: 38px;
		padding-left: 0;
		text-align: center;
		width: 150px;
	}

		li.bio a {
			color: #0973ba;
		}
		
			li.bio a .fn {
				font-size: 19px;
			}
			
			li.bio a .role {
				font-size: 14px;
				line-height: 1;
				color: #000;
			}


#instructor {
	background: #fff;
	clear: both;
	margin: auto 58px;
	height: 250px;
}

	#instructor img {
		margin: 20px 0px;
	}

	#instructor h2 {
		font-size: 24px;
	}

	#instructor li a {
		float: left;
		width: 204px;
		margin-left: 35px;
	}

	li.content {
		float: left;
		margin-top: 21px;
		width: 656px;
	}
	

#mentor-list {
	background: #fff;
	clear: both;
	margin: auto 58px;
	height: 300px;
}

	#mentor-list ul {
		margin-left: 50px;
	}

	#mentor-list li.bio {
		margin-top: 50px;
	}
	
	.last {
		margin-right: 0px!important;
	}

#leadership {
	background: #fff;
	clear: both;
	margin: auto 58px;
	height: 300px;
	position: relative;
	bottom: 21px;
}

	#leadership ul {
		padding-left: 120px;
	}
	
	#leadership li.bio {
		margin-top: 50px;
	}

.cl-15 {
	clear: both;
	font-size: 1px;
	height: 15px;
}

.cl-50 {
	clear: both;
	font-size: 1px;
	height: 50px;
}

/*====== Community Page CSS ======== */




#row-1 {
	margin: auto 67px;
	width: 900px;
}

	#row-1 ul {
		margin-left: 0;
	}
	
	#row-1 li {
		float: left;
		list-style: none outside none;
		margin-bottom: 10px;
		margin-right: 12px;
		padding-left: 0;
	}
	
#advisers {
	clear: both;
}

	#advisers li.bio {
		width: 125px;
	}
	
	#advisers li.bio .fn {
		color: #C32127;
		position: relative;
		top: 3px;
	}
	
	#advisers li.bio .role {
		position: relative;
		top: 5px;
	}
	
	#advisers ul {
		line-height: 1;
	}

/* ====== Video Page CSS ====== */



.entrepreneurs, .developers, .students, .investors {
	text-align: left;
}

	.entrepreneurs h2, .developers h2, .students h2, .investors h2 {
		padding: 10px;
		background-color: green;
		color: white;
		width: 200px;
	}
	
	.entrepreneurs h3, .developers h3, .students h3, .investors h3 {
		padding: 7px;
		background-color: blue;
		color: white;
		width: 100px;
	}
	
	.entrepreneurs a, .developers a, .students a, .investors a {
		text-decoration: none;
		color: white;
		cursor: pointer;
	}
	
/* ============= Apply Page =========== */

#apply {
	height: 800px;
}

#apply-header h1 {
	font-size: 40px;
	text-align: center;
	padding: 20px;
}

#app-deadline {
	font-size: 24px;
	text-align: center;
}

#course-info h3 {
	font-size: 36px;
	text-align: center;
}

#apply-button a {
	color: #C32127;
	font-size: 50px;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	
}

#apply-button h3 {
	text-align: center;
}

footer {
	clear: both;
	text-align: left;
}

.footer_links {
	display: inline;
}



/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}


#scroll-container {min-height:1200px;}

div.section{
	width:98%;
	padding:10px;
	margin: 5px 0;
	position:absolute;
	overflow:auto;
}
	div.section h3{
		margin-bottom:10px;
	}
	div.section .pane-0{
		position:relative;
		left:0;
		width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-1{
	  position:relative;
		width:25%;
		height:600px;
		float:left;
		background-color:red;
	}
	div.section .pane-2{
	  position:relative;
		width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-3{
		position:relative;
		width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-4{
		position:relative;
    width:25%;
		height:600px;
		float:left;
	}
	div.section .pane-5{
		position:relative;
    width:25%;
		height:600px;
		float:left;
	}
	
	div.pane{
		overflow:hidden;
		clear:left;
		margin: 10px 0px 0 10px;
	  width:98%;
		height:600px;
	}
	.pane ul {
	  height:800px;
	  width:10000px;
	}
ul.elements{
	background-color:#000;
	width:10000px;
}

	ul.elements li{
		height:100px;
		font-weight:bolder;
		text-align:left;
		padding:50px;
		background-color:#fff;
	}
		ul.elements li a{
			bottom:20px;
			color:#933;
			font-size:12px;
			left:125px;
			position:absolute;
		}
		ul.elements li p{
			color:#666;
		}
	#pane-options ul.elements li{
		margin:5px;
	}
	#pane-options{
		margin-bottom:10px;
	}
ul.links{
	height:20px;
}
	ul.links a{
		color:#69C;
		margin:0pt 5px;
	}
h3 span{
	position:absolute;			
}
.message{
	background:#EEE;
	border:1px solid #999;
	color:#333;
	font-size:12px;
	font-weight:normal;
	padding:1px;
	margin-top:2px;
}

.footer_links a{color:#000 !important;}

iframe {
  position:relative;
}
