/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

.container {
	margin-left: 0;
	margin-right: 0;
	width: 960px;
}


.Fr {
	float: right;
	display: block;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
	color: #333333;
	font-weight: lighter;
	margin-bottom: 18px;
}

ul li {
	list-style-type: none;
}

.img-left {
	float:left;
}

.team-title {
	float:left;
	width: 430px;
}


#main-header {
	background: url("../images/nav_texture.png") repeat;
	padding-top: 22px;
	position: relative;
	z-index: 40000;
	height: 90px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
	text-align: left;
	
}

.wrapper {
	margin: 0 auto;
	width: 960px;
	text-align: left;
}

	.wrapper h2 {
		color: black;
		margin-top: 26px;
	}


nav {
	float: right;
}

	nav li {
	   	float:left;
		font-size:18px;
		height:35px;
		line-height:35px;
		list-style-type:none;
		margin-right:25px;
		margin-top:-7px;
		padding-bottom:20px;
		position:relative;
		top:-35px;
	}
	
	nav ul li a {
		display: block;
		color: white;
		text-decoration: none;
	}
	
		nav li.last a {
			color: red;
		}

#splash-bg {
	width: 100%;
	background: #0a74ba;
}

#value-prop {
	padding: 25px;
}

#value-prop h1 {
    color: white;
	font-size: 24px;
	left: 15px;
	position: relative;
	text-shadow: 0 1px 2px #272260;
	text-transform: uppercase;
	top: 75px;
	width: 616px;
}

	#value-prop h1 strong {
		text-transform: uppercase;
		font-size: 58px;
	}
	
	#value-prop h2 {
		text-align: center;
	}


/* ======= Program Page CSS ======== */

.program-header {
	clear: both;
	width: 100%;
	float: left;
	text-align: center;
}

	.program-header h2 {
		vertical-align: baseline;
	}
	#program-header-1, #program-header-2, #program-header-3, #program-header-4 {
		display: inline;
		cursor: pointer;
		height: 195px;
		width: 210px;
		float: right;
		background: #dedede;
		margin-right: 5px;
		margin-top: 15px;
	}
#overview, #ca-schedule, #students, #space {
	clear: both;
	padding-left: 98px;
	position: relative;
	top: 50px;
}

	#part-1, #part-2, #part-3, #part-4 {
		margin-top: 50px;
	}

#weekly-schedule li {
	list-style-type: none;
}

footer {
	clear: both;
	text-align: left;
}




/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}




div.section{
	width:6000px;
	padding:10px;
	margin: 5px 0;
	position:relative;
	clear:both;
	
	border:4px solid red;
}
	div.section h3{
		margin-bottom:10px;
	}
	div.section li{
		float:left;
	}
	div.pane{
		overflow:hidden;
		clear:left;
		margin: 10px 0 0 10px;
		position:relative;
		width:6000px;
		height:322px;
		border:1px solid black;
	}
ul.elements{
	background-color:#5B739C;
}
	ul.elements li{
		width:600px;
		height:200px;
		font-weight:bolder;
		border:1px black solid;
		text-align:left;
		padding:50px;
		position:relative;
		background-color:#DDD;
	}
		ul.elements li a{
			bottom:20px;
			color:#933;
			font-size:12px;
			left:125px;
			position:absolute;
		}
		ul.elements li p{
			color:#666;
		}
	#pane-options ul.elements li{
		margin:5px;
	}
	#pane-options{
		margin-bottom:10px;
	}
ul.links{
	height:20px;
}
	ul.links a{
		color:#69C;
		margin:0pt 5px;
	}
h3 span{
	position:absolute;			
}
.message{
	background:#EEE;
	border:1px solid #999;
	color:#333;
	font-size:12px;
	font-weight:normal;
	padding:1px;
	margin-top:2px;
}