<div id=" apply" class="container">
  <div class="row">
    <section id="pricing">
      <h2>Talk does not cook rice. See if you’ve got what it takes to get into Code Academy.</h2>
      <p>Insert pricing comparison table here</p>
    </section>
    
    <form></form>
    
    <ul>
      <li>How do you hear about us?</li>
      <li>Where do / did you attend school?</li>
      <li>What do you do?</li>
      <li>What are you passionate about?</li>
      <li>What’s your favorite web application and why?</li>
      <li>What are your other commitments for the fall?</li>
      <li>Will you be able to commit to the class hours of Code Academy?</li>
      <li>How much time will you be able to commit to Code Academy work outside of class?</li>
      <li>How do you plan on paying the tuition for Code Academy?</li>
      <li>What about Code Academy most excites you? </li>
      <li>What about Code Academy most concerns you?</li>
      <li>What is your name?</li>
      <li>How old are you?</li>
      <li>What is your email address?</li>
      <li>Any additional comments?</li>
    </ul>
  </div>
</div>