#fsLightbox1096528.fsLightbox{:style => "display:none;"}
  %div{:align => "right", :style => "padding:5px;"}
    %a#fsLightboxClose1096528{:href => "#", :style => "color:#000", :title => "close"} [close]
  %div{:style => "height:450px; padding-top:20px; overflow:auto; position: relative;"}
    %iframe{:src => "/lightbox", :width => '99%', :height => '99%'}
:javascript
  var fsLightbox1096528 = new FSLightbox({form: 1096528, handleText: "Apply Now", handlePosition: "topRight",
      handleImage: "http://www.formstack.com/forms/lightboxHandle.php?str=Apply+Now"
  });
