<div class="container" id="location">
	<div class="row">
	  <section id="chicago">
	    <h2>Chicago. The next great city for technological innovation.</h2>
      <p>Chicago is on the verge of tech stardom. Some of the world’s most revered companies and initiatives are here, and they’re growing, fast.</p>
      <p>We’re placing you in the heart of it all in the best environment you’ve ever done work in.</p>
      
      <p>The tech center is going to make Chicago the &#35;1 contender for the heavyweight tech startup title. If you haven’t caught wind of the revolution, just ask someone, this city’s about to explode with innovation. (We need more validation here, we need numbers, info about excelerate, centro, groupon, google expansion, 37signals/rails, CEC, builtinchicago, technori, techweek, spark chicago, meetups, etc.)</p>
      
      <p>We looked at some of the top software development and start-up environments around, and have designed the ultimate blend of collaborative and functional furniture and resources. We’re nervous about having to kick you all out after hours. Pairing station, iMac, large desks, comfortable furniture, whiteboards, surrounded by other startups and entrepreneurs, networking and energy).</p>
    </section>
  </div>
</div>