<div id ="schedule" class="container">
	<div class="row">
    <section id="visual-schedule">
      <h2>The most immersive web development curriculum, ever.</h2>
      <h3>Learner Mode</h3>
      <ul id="learner-mode">
        <li>Week 1: Intro to Code Academy and programming in Ruby</li>
        <li>Week 2: The basics of Ruby on Rails applications</li>
        <li>Week 3: Running a Rails project and application</li>
        <li>Week 4: Getting your feet wet with sample projects and tutorials</li>
        <li>Week 5: Waist deep with sample projects and tutorials</li>
        <li>Week 6: Reviewing and refining what you’ve learned</li>
        <li>Week 7: Preparing for your own project</li>
      </ul>
      
      <h3>Start-up Mode</h3>
      <ul id="start-up">
        <li>Week 8: Planning/Setup</li>
        <li>Week 9: UI Design</li>
        <li>Week 10: Coding the features and functionality</li>
        <li>Week 11: Polishing your prototype</li>
        <li>Week 12: Final presentation</li>
      </ul>
    </section>
    
    <section id="workshop-programs">
      <h2>And you thought class time was awesome.</h2>
    </section>
  </div>
</div>