<h1>"A journey of a 1,000 miles must begin with a single step."</h1>

<div id="course-info">
  <h3>Hyper competitive.</h3>
  <h3>12 slots per class</h3>
</div>

<div id="apply">
  <h3>Click here to Apply!</h3>
</div>

<div id="app-deadline">
  <h4>Sooner you apply the better - applicants are admitted on a rolling basis.</h4>
  <h4>Application deadline: August 22, 2011</h4>
</div>