#apply.container
  #apply-splash
    #apply-header
      %h1 Join the builders movement.
    .cl-15
    %img{:alt => "Code Academy", :src => "images/ca_logo_copy_03.png"}/
    %div{:style => "clear:both;"}
    .cl-50
  .row
    #what-you-get
      %ul.fivecol
        %h2 What You’ll Get
        %li 
          %a{:href => "/program/"}Individualized Learning
          with all hardware + software included
        %li 
          %a{:href => "/staff/"} World-class 
          instruction and expert mentorship from software developers
        %li 
          Access to space outside of class time, all the optional workshops and 
          %a{:href => "/community/"}networking opportunities 
          throughout Chicago
  .row.right
    #timeline.fivecol
      %h2 Application Details:
      %p
        %strong August 26th -
        Application deadline - Submit your application before 11:59PM!   
      %p 
        %strong August 28th - 
        Interview notification - We’ll notify you of whether you’ve been asked to return for an interview.
  #start-app
    %a{:href => "#do-app"}
      %button.button.red Apply Now!
    .cl-15
  #do-app
    %script{:src => "http://www.formstack.com/forms/js.php?1096528-6YgVaD43vw-v2", :type => "text/javascript"}
    %noscript
      %a{:href => "http://www.formstack.com/forms/?1096528-6YgVaD43vw", :title => "Online Form"} Online Form - Code Academy Application