%h1 "A journey of a 1,000 miles must begin with a single step."
#course-info
  %h3 Hyper competitive.
  %h3 12 slots per class
#apply
  %h3 
    %a{:href => "http://www.formstack.com/forms/?1096528-6YgVaD43vw"} Apply now!
#app-deadline
  %h4 Sooner you apply the better - applicants are admitted on a rolling basis.
  %h4 Application deadline: August 22, 2011