#apply.container
  #apply-header
    %h1 "A journey of a 1,000 miles must begin with a single step."
    .cl-50
  #course-info
    %h3 Hyper competitive.
    %h3 12 spots.
    %h3 You can decide to commit once you're accepted, so there's no reason not to throw your hat in the ring.
    .cl-50
  #apply-button 
    %a{:href => "http://www.formstack.com/forms/?1096528-6YgVaD43vw"}
      %img{:href => "Apply Icon", :src => "images/apply_now_box_03.png"}/
    .cl-50
  #app-deadline
    %h4 Applicants are admitted on a rolling basis, the sooner you apply the better.
    %h4 Application deadline: August 22, 2011