#apply.container
  #apply-header
    %h1 "A journey of a 1,000 miles must begin with a single step."
    .cl-50
  #course-info
    %h3 Hyper competitive.
    %h3 12 slots per class.
    .cl-50
  #apply-button
    %h3 
      %a{:href => "http://www.formstack.com/forms/?1096528-6YgVaD43vw"} Apply now!
    .cl-50
  #app-deadline
    %h4 Sooner you apply the better - applicants are admitted on a rolling basis.
    %h4 Application deadline: August 22, 2011