#apply.container
  #apply-splash
    %img{:alt => "Code Academy", :src => "images/ca_logo_copy_03.png"}/
    %div{:style => "clear:both;"}
  #apply-header.Fr
    %h1 Join the builders movement.
    %h3 Only 12 people will be accepted.
  #apply-button
    %a{:href => "http://www.formstack.com/forms/?1096528-6YgVaD43vw"}
      %button.button.red Apply Now!
    %a{:href => "http://www.formstack.com/forms/?1096528-6YgVaD43vw"}
    /%h3 You can decide to commit once you're accepted, so there's no reason not to throw your hat in the ring.
    .cl-15
  %div{:style => "clear:both;"}
  #timeline-title
    %h3 Application Timeline
  #app-timeline.left
    %p
      %strong August 26th -
      Applications close at 11:59PM.   
      Tuition is $6000. 
    %p 
      %strong Early Bird Applicant Pricing! -
      25% off if you apply before August 13th.
      That makes tuition $4500 for the eager beavers.
    %p 
      %strong August 28th - 
      You will be notified of whether you've been asked to return for an interview.
    %p
      %strong September 8th - 
      You'll know whether or not you got in!
    %p 
      %strong October 3rd -
      Class starts at Obtiva, located at 566 West Adams Suite 400 in downtown Chicago.
  .cl-15
  #app-info
    %p The total class hours with the instructor will be 3 days a week at 4 hours a day, with the expectation that you also work on your projects outside of that time.
    %p The specific dates and time of day will be determined based on the accepted applicant's preferences/availability as indicated at the end of the application.
    %p Good Luck!
    .cl-15
      /%img{:href => "Apply Icon", :src => "images/apply_now_box_03.png"}/
    .cl-50
  %div{:style => "clear:both;"}