#apply.container
  #apply-header
    %h1 Join the builders movement.
    .cl-15
  #course-info
    %h3 Only 12 people will be accepted.
    /%h3 You can decide to commit once you're accepted, so there's no reason not to throw your hat in the ring.
    .cl-15
  #app-timeline
    %p
      %strong August 26th -
      Applications close at 11:59PM.   
      Tuition is $6000. 
    %p 
      %strong August 28th - 
      You will be notified of whether you've been asked to return for an interview.
    %p
      %strong September 8th - 
      You'll know whether or not you got in!
    %p 
      %strong October 3rd -
      Class starts at Obtiva, located at 566 West Adams Suite 400 in downtown Chicago.
  .cl-15
  #app-info
    %p The total class hours with the instructor will be 3 days a week at 4 hours a day, with the expectation that you also work on your projects outside of that time.
    %p The specific dates and time of day will be determined based on the accepted applicant's preferences/availability as indicated at the end of the application.
    %p Good Luck!
    .cl-15
  #apply-button
    %a{:href => "http://www.formstack.com/forms/?1096528-6YgVaD43vw"}
      %button.button.red Apply Now!
    %a{:href => "http://www.formstack.com/forms/?1096528-6YgVaD43vw"}
      %img{:href => "Apply Icon", :src => "images/apply_now_box_03.png"}/
    .cl-50
  %div{:style => "clear:both;"}