#partners.container
  %section.intro
    .cl-15
    %h1 Get connected.
    %h3 You’ll have exclusive exposure to the top technology, entrepreneurship, and investment leaders in Chicago and beyond.
  %section#row-1
    %ul
      %li
        %a.photo{:href => "http://obtiva.com/"}
          %img{:alt => "Obtiva is awesome!", :src => "../images/obtiva_03.png"}/
      %li
        %a.photo{:href => "http://www.8thlight.com/"} 
          %img{:alt => "8thlight is awesome!", :src => "../images/8thlight_03.png"}/
      %li
        %a.photo{:href => "http://hashrocket.com/"}
          %img{:alt => "Hashrocket is awesome!", :src => "../images/hashrocket_03.png"}/
      %li
        %a.photo{:href => "http://www.heroku.com/"}
          %img{:alt => "Heroku is awesome!", :src => "../images/heroku_03.png"}/
      %li
        %a.photo{:href => "http://www.newworldvc.com/"}
          %img{:alt => "New World Ventures is awesome!", :src => "../images/nwv_03.png"}/
      %li
        %a.photo{:href => "http://lightbank.com/"}
          %img{:alt => "Lightbank is awesome!", :src => "../images/lightbank_03.png"}/
      %li
        %a.photo{:href => "http://www.exceleratelabs.com/"}
          %img{:alt => "Excelerate is awesome!", :src => "../images/excelerate_03.png"}/
      %li
        %a.photo{:href => "http://www.modelmetrics.com/"}
          %img{:alt => "Model Metrics is awesome!", :src => "../images/modelmetrics_03.png"}/
      %li
        %a.photo{:href => "http://jumpstartlab.com/"}
          %img{:alt => "Jumpstart Lab is awesome!", :src => "../images/jumpstart_03.png"}/
      %li
        %a.photo{:href => "http://www.cityofchicago.org/city/en.html"}
          %img{:alt => "The city of Chicago is awesome!", :src => "../images/cityofchicago_03.png"}/
      %li
        %a.photo{:href => "http://www.inventables.com/"}
          %img{:alt => "Inventables is awesome!", :src => "../images/inventables_03.png"}/
      %li
        %a.photo{:href => "http://wisdomgroup.com/"}
          %img{:alt => "Wisdom Group is awesome!", :src => "../images/wisdomgroup_03.png"}/
      %li
        %a.photo{:href => "http://www.groupon.com/"}
          %img{:alt => "GROUPON is awesome!", :src => "../images/groupon_03.png"}/
      %li
        %a.photo{:href => "http://www.apexvc.com/"}
          %img{:alt => "Apex Ventures is awesome!", :src => "../images/apex_03.png"}/
      %li
        %a.photo{:href => "http://www.wildcatangels.com/Community/"}
          %img{:alt => "Wildcat Angels is awesome!", :src => "../images/wildcatangels_03.png"}/
      %li
        %a.photo{:href => "http://www.hydeparkangels.com/"}
          %img{:alt => "Hyde Park Angels is awesome!", :src => "../images/hpa_03.png"}/            
      %li
        %a.photo{:href => "http://sandboxindustries.com/"}
          %img{:alt => "Sandbox Industries is awesome!", :src => "../images/sandbox_03.png"}/
      %li
        %a.photo{:href => "http://www.chicagolandec.org/"}
          %img{:alt => "CEC is awesome!", :src => "../images/cec_03.png"}/
      %li
        %a.photo{:href => "http://pritzkergroup.com/"}
          %img{:alt => "The Pritzker Group is awesome!", :src => "../images/pritzker_03.png"}/
      %li
        %a.photo{:href => "http://ocaventures.com/"}
          %img{:alt => "OCA Ventures is awesome!", :src => "../images/ocaventures_03.png"}/
  .cl-50
  #advisers.container
    #row-1
      %ul
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Matt McCall", :src => "../images/matt_adviser_03.png"}/
            %span.fn Matt McCall
            %br
            %span.role Partner, New World Ventures
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Kevin Willer", :src => "../images/kevin_adviser_03.png"}/
            %span.fn Kevin Willer
            %br
            %span.role CEO of the Chicagoland Entrepreneurial Center
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Ray Hightower!", :src => "../images/rayh_adviser_03.png"}/
            %span.fn Ray Hightower
            %br
            %span.role President at Wisdom Group
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Joan Zielinski!", :src => "../images/joan_adviser_03.png"}/
            %span.fn Joan Zielinski
            %br
            %span.role Marketing Professor at the Kellogg School of Management and Northwestern University
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Kieran Delaney!", :src => "../images/kieran_adviser_03.png"}/
            %span.fn Kieran Delaney
            %br
            %span.role Creator and Program Director at Fox College Graphic Design Program
        %li.bio.last
          %a.photo{:href => "#"}
            %img{:alt => "Eddie Lou!", :src => "../images/eddie_adviser_03.png"}/
            %span.fn Eddie Lou
            %br
            %span.role former General Partner at OCA Ventures
        .cl-15
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Harper Reed!", :src => "../images/harper_adviser_03.png"}/
            %span.fn Harper Reed
            %br
            %span.role Chief Technology Officer of Obama for America
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Jon Kern!", :src => "../images/jon_adviser_03.png"}/
            %span.fn Jon Kern
            %br
            %span.role  Co-author of The Agile Manifesto
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Jeff Casimir!", :src => "../images/jeffc_adviser_03.png"}/
            %span.fn Jeff Casimir
            %br
            %span.role Founder of Jumpstart Lab
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Adam Caplan!", :src => "../images/adam_adviser_03.png"}/
            %span.fn Adam Caplan
            %br
            %span.role CEO of Model Metrics
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Sam Guren!", :src => "../images/sam_adviser_03.png"}/
            %span.fn Sam Guren
            %br
            %span.role Executive Director of Hyde Park Angels
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Steve Collens!", :src => "../images/steve_adviser_03.png"}/
            %span.fn Steve Collens
            %br
            %span.role Senior Vice President of The Pritzker Group
        .cl-15
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Troy Henikoff!", :src => "../images/troy_adviser_03.png"}/
            %span.fn Troy Henikoff
            %br
            %span.role CEO of Excelerate Labs
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Veezus Kreist!", :src => "../images/veez_adviser_03.png"}/
            %span.fn Veezus Kreist
            %br
            %span.role Ruby on Rails Developer at Hashrocket
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Corey is awesome!", :src => "../images/corey_adviser_03.png"}/
            %span.fn Corey Haines
            %br
            %span.role Software journeyman; Co-Founder of Mercury App
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Sarah is awesome!", :src => "../images/sarah_adviser_03.png"}/
            %span.fn Sarah Gray
            %br
            %span.role Co-Founder of Mercury App
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Zach is awesome!", :src => "../images/zach_adviser_03.png"}/
            %span.fn Zach Kaplan
            %br
            %span.role CEO of Inventables
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Heidi is awesome!", :src => "../images/heidi_adviser_03.png"}/
            %span.fn Heidi Massey
            %br
            %span.role Social Enterprise Program Manager, i.c. stars
        .cl-15
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Zach is awesome!", :src => "../images/ben_adviser_03.png"}/
            %span.fn Ben Parr
            %br
            %span.role Editor at Large of Mashable        
        %li.bio
          %a.photo{:href => "#"}
            %img{:alt => "Zach is awesome!", :src => "../images/linda_adviser_03.png"}/
            %span.fn Linda Darragh 
            %br
            %span.role Director of Entrepreneurship Programs UChicago Booth School of Business