#partners.container
  %h1 Money can't buy this kind of access.
  %h3 You’ll have exclusive exposure to the top technology, entrepreneurship, and investment leaders in Chicago and beyond.
  .row-1
    %img{:alt => "New World is awesome!", :src => "../images/new_world.png"}/
    %img{:alt => "The city of Chicago is awesome!", :src => "../images/city_chicago.jpeg"}/
    %img{:alt => "Obtiva is awesome!", :src => "../images/obtiva.png"}/
    %img{:alt => "Excelerate is awesome!", :src => "../images/excelerate.jpeg"}/
    %img{:alt => "Lightbank is awesome!", :src => "../images/lightbank.png"}/
    %img{:alt => "Hashrocket is awesome!", :src => "../images/hashrocket.jpeg"}/
  .row-1
    %img{:alt => "Model Metrics is awesome!", :src => "../images/model_metrics.jpeg"}/
    %img{:alt => "Heroku is awesome!", :src => "../images/heroku.jpeg"}/
    %img{:alt => "CEC is awesome!", :src => "../images/cec.gif"}/
    %img{:alt => "8thlight is awesome!", :src => "../images/8thlight.png"}/
    %img{:alt => "Jumpstart Lab is awesome!", :src => "../images/jumpstart_lab.png"}/
    %img{:alt => "Apex is awesome!", :src => "../images/apex.gif"}/
.cl-30
#advisers.container
  .row-1
    %img{:alt => "Matt McCall", :src => "../images/matt_mccall.jpeg"}/
    %img{:alt => "Kevin Willer", :src => "../images/kevin_willer_mini.jpg"}/
    %img{:alt => "Ray Hightower!", :src => "../images/ray_hightower_mini.jpg"}/
    %img{:alt => "Ray Lian!", :src => "../images/ray_lian.jpeg"}/
    %img{:alt => "Kieran Delaney!", :src => "../images/kieran_delaney.jpeg"}/
    %img{:alt => "Eddie Lou!", :src => "../images/eddie_lou_mini.jpg"}/
  .row-1
    %img{:alt => "Harper Reed!", :src => "../images/harper_reed_mini.jpg"}/
    %img{:alt => "Jon Kern!", :src => "../images/jon_kern_mini.jpg"}/
    %img{:alt => "Jeff Casimir!", :src => "../images/jeff_casimir_mini.jpg"}/
    %img{:alt => "Adam Kaplan!", :src => "../images/adam_kaplan_mini.jpg"}/
    %img{:alt => "Sam Guren!", :src => "../images/sam_guren_mini.jpg"}/
    %img{:alt => "Steve Collens!", :src => "../images/steve_collens_mini.jpg"}/
  .row-1
    %img{:alt => "Troy Henikoff!", :src => "../images/troy_henikoff_mini.jpg"}/
    %img{:alt => "Veezus Kreist!", :src => "../images/veezus_kreist_mini.png"}/
    %img{:alt => "Zach Kaplan!", :src => "../images/zach_kaplan.jpeg"}/
    %img{:alt => "Apex is awesome!", :src => "../images/apex.gif"}/