#partners.container
  %section.intro
    %h1 Money can't buy this kind of access.
    %h3 You’ll have exclusive exposure to the top technology, entrepreneurship, and investment leaders in Chicago and beyond.
  %section#row-1
    %ul
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Obtiva is awesome!", :src => "../images/obtiva_03.png"}/
      %li
        %a.photo{:href => "#"} 
          %img{:alt => "8thlight is awesome!", :src => "../images/8thlight_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Hashrocket is awesome!", :src => "../images/hashrocket_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Heroku is awesome!", :src => "../images/heroku_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "New World Ventures is awesome!", :src => "../images/nwv_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Lightbank is awesome!", :src => "../images/lightbank_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Excelerate is awesome!", :src => "../images/excelerate_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Model Metrics is awesome!", :src => "../images/modelmetrics_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Jumpstart Lab is awesome!", :src => "../images/jumpstart_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "The city of Chicago is awesome!", :src => "../images/cityofchicago_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Inventables is awesome!", :src => "../images/inventables_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Wisdom Group is awesome!", :src => "../images/wisdomgroup_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "GROUPON is awesome!", :src => "../images/groupon_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Apex Ventures is awesome!", :src => "../images/apex_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Wildcat Angels is awesome!", :src => "../images/wildcatangels_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Hyde Park Angels is awesome!", :src => "../images/hpa_03.png"}/            
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Sandbox Industries is awesome!", :src => "../images/sandbox_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "CEC is awesome!", :src => "../images/cec_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "The Pritzker Group is awesome!", :src => "../images/pritzker_03.png"}/
      %li
        %a.photo{:href => "#"}
          %img{:alt => "Hyde Park Angels is awesome!", :src => "../images/ocaventures_03.png"}/
  .cl-30
  #advisers.container
    .row-1
      %img{:alt => "Matt McCall", :src => "../images/matt_mccall.jpeg"}/
      %img{:alt => "Kevin Willer", :src => "../images/kevin_willer_mini.jpg"}/
      %img{:alt => "Ray Hightower!", :src => "../images/ray_hightower_mini.jpg"}/
      %img{:alt => "Ray Lian!", :src => "../images/ray_lian.jpeg"}/
      %img{:alt => "Kieran Delaney!", :src => "../images/kieran_delaney.jpeg"}/
      %img{:alt => "Eddie Lou!", :src => "../images/eddie_lou_mini.jpg"}/
    .row-1
      %img{:alt => "Harper Reed!", :src => "../images/harper_reed_mini.jpg"}/
      %img{:alt => "Jon Kern!", :src => "../images/jon_kern_mini.jpg"}/
      %img{:alt => "Jeff Casimir!", :src => "../images/jeff_casimir_mini.jpg"}/
      %img{:alt => "Adam Kaplan!", :src => "../images/adam_kaplan_mini.jpg"}/
      %img{:alt => "Sam Guren!", :src => "../images/sam_guren_mini.jpg"}/
      %img{:alt => "Steve Collens!", :src => "../images/steve_collens_mini.jpg"}/
    .row-1
      %img{:alt => "Troy Henikoff!", :src => "../images/troy_henikoff_mini.jpg"}/
      %img{:alt => "Veezus Kreist!", :src => "../images/veezus_kreist_mini.png"}/
      %img{:alt => "Zach Kaplan!", :src => "../images/zach_kaplan.jpeg"}/
      %img{:alt => "Apex is awesome!", :src => "../images/apex.gif"}/