#partners.container
  %h1 Money can't buy this kind of access.
  %h3 You’ll have exclusive exposure to the top technology, entrepreneurship, and investment leaders in Chicago and beyond.
  .row-1
    %img{:alt => "New World is awesome!", :src => "../images/new_world.png"}/
    %img{:alt => "The city of Chicago is awesome!", :src => "../images/city_chicago.jpeg"}/
    %img{:alt => "Obtiva is awesome!", :src => "../images/obtiva.png"}/
    %img{:alt => "Excelerate is awesome!", :src => "../images/excelerate.jpeg"}/
    %img{:alt => "Lightbank is awesome!", :src => "../images/lightbank.png"}/
    %img{:alt => "Hashrocket is awesome!", :src => "../images/hashrocket.jpeg"}/
  .row-1
    %img{:alt => "Model Metrics is awesome!", :src => "../images/model_metrics.jpeg"}/
    %img{:alt => "Heroku is awesome!", :src => "../images/heroku.jpeg"}/
    %img{:alt => "CEC is awesome!", :src => "../images/cec.gif"}/
    %img{:alt => "8thlight is awesome!", :src => "../images/8thlight.png"}/
    %img{:alt => "Jumpstart Lab is awesome!", :src => "../images/jumpstart_lab.png"}/
    %img{:alt => "Apex is awesome!", :src => "../images/apex.gif"}/
