Why is it $6000?

Compared to most resources, workshops, bootcamps, the hours and resources provided by Code Academy are grossly underpriced.

Are you accredited?

More important than being "accredited" is having people who actually do something with what they learn. That speaks louder to any employer or investor than a slip of paper with some words on it. So I guess you could say we are "accredited" through all the awesome projects we will have the students showcase.

What can I learn here that I can't learn online or at a normal school?

We aggregate and organize the online resources in a way that's never been done before. There's lots of great resources out there, but no good way to structure the path and progress that would make someone who's early on to programming actually learn. As far as normal schools. it's difficult to force-fit a practical learning structure into institutions that have a mode of their own that they need to abide by. Code Academy is much more adaptive and focused on ensuring you acquire this skillset.

Do I need any programming experience to get in?

Absolutely not, though we will be looking for people who display the capacity to pick it up. This is through a dedicated work ethic and a displayed eagerness and proactivity to engage with the learning materials.

What's the age range for Code Academy applicants? 

We don't discriminate. But our target segments are people who have the ability to make a huge commitment of time in order to pick this skill up. If you've got lots of distractions or commitments this may be difficult for you to take full advantage of.

Do I need to have finished high school? College?

Nope. Though having a compelling reason for why that is would probably help you in the application...

What are the requirements/expectations upon acceptance?

You attend the three days of class for 4 hours at minimum. You pay the $6000 in tuition (or $4500 for early birds) at the start of the class. You try your best to work on your projects and exercises outside of class so you are better prepared for the next.

Does it cost me anything to apply?

It does not.

Are there scholarships?

There will be opportunities for applicants to apply for select scholarships with some of the sponsors listed on the community page. You have to apply first!

Who is teaching this?

See our staff page.

What does a day look like?

See our schedule page.

Can I work full time and still do Code Academy?

It depends. If you think you can handle the rigorous nature of our course on top of another large commitment, then you're either crazy or naive. We hope it's the former, if so then your mind won't have room for much else outside of the two!

Can I work part time and still do Code Academy?

Yes you can. The time will be determined but the minimum commitment for CA will definitely leave you with room to work part-time.

Do I need to buy books?

We provide all the learning materials and resources necessary, isn't that a nice change from normal school?

Do I need to use my own computer?

Nope. You're more than welcome to bring it in. But we will be supplying computers for the pairing stations.

What's a daily standup?

A short meeting where everyone shares their goal for the session.

What's pair programming?

A software development methodology that has two people work collaboratively on the same computer, its been proven to save time and effort in the long haul and increase the quality of one's learning as well as the code that is written.
