#faq.container
  .cl-15
  %h1 Your questions. Answered.
  .cl-50
  %h2 Why is it $6000?
  %p Compared to most resources, workshops, bootcamps, the hours and resources provided by Code Academy are grossly underpriced.
  %br
  %h2 Are you accredited?
  %p More important than being &#34;accredited&#34; is having people who actually do something with what they learn. That speaks louder to any employer or investor than a slip of paper with some words on it. So I guess you could say we are &#34;accredited&#34; through all the awesome projects we will have the students showcase.
  %br
  %h2 What can I learn here that I can't learn online or at a normal school?
  %p There&#39;s a lot of great resources out there, but with Code Academy, you get a full immersive experience that an online tool or normal school simply can&#39;¬t replicate. This means you're receiving constant personalized guidance from some of the best in the business, and can collaborate with a roomful of bright up-and-comers like yourself. You are also in a structured environment, so you finding the necessary support and willpower to pick up coding will happen a lot easier. Lastly, the knowledge you will be gaining is directly hands-on - it's the kind of knowledge you actually can use, not just the abstract, theoretical stuff found in most normal classrooms.
  %br
  %h2 Do I need any programming experience to get in?
  %p Absolutely not, though we will be looking for people who display the capacity to pick it up. This is through a dedicated work ethic and a displayed eagerness and proactivity to engage with the learning materials.
  %br
  %h2 What&#39;s the age range for Code Academy applicants? 
  %p All ages are welcome - we don't discriminate. Our target segments are people who have the ability to make a huge commitment of time in order to pick this skill up. If you've got lots of distractions or commitments this may be difficult for you to take full advantage of.
  %h2 Do I need to have finished high school? College?
  %p Nope. Though having a compelling reason for why that is would probably help you in the application...
  %br
  %h2 What are the requirements/expectations upon acceptance?
  %p You attend the three days of class per week for 12 weeks for four hours each day at minimum. You pay the $6000 in tuition (or $4500 for early birds) at the start of the class. You try your best to work on your projects and exercises outside of class so you are better prepared for the next.
  %br
  %h2 What time of day will you hold classes?
  %p We are testing what time of day will be best for the applicants. When you apply you can indicate your preference. Class will be held either in the morning from 8am to 12pm or at night from 5:30pm to 9:30pm.
  %br
  %h2 What is the start and end date for the program?
  %p The program runs from October 3rd to December 21st.
  %br
  %h2 Does it cost me anything to apply?
  %p It does not.
  %br
  %h2 Are there scholarships?
  %p There will be opportunities for applicants to apply for select scholarships with some of the sponsors listed on the community page. You have to apply first!
  %br
  %h2 Are there any group discounts for applying?
  %p 
    Why yes there is! If you have other friends who would be interested in applying, you (and the friend(s) who applies) can receive a 
    %strong $250 discount 
    on tuition if you are accepted into Code Academy. When they apply, they would need to indicate 
    %strong your name 
    when answering the question "How did you hear about Code Academy?" This is a $250 for 
    %strong every friend 
    that you refer, so get as many of your friends to apply as possible!
  %h2 Who is teaching this?
  %p
    See our
    %a{:href => "/staff/"} Staff
    page.
  %br
  %h2 What does a day look like?
  %p
    See our
    %a{:href => "/program#2/"} Schedule
    page.
  %br
  %h2 Can I work full time and still do Code Academy?
  %p It depends. If you think you can handle the rigorous nature of our course on top of another large commitment, then you&#39;re either crazy or naive. We hope it&#39;s the former, if so then your mind won&#39;t have room for much else outside of the two!
  %br
  %h2 Can I work part time and still do Code Academy?
  %p Yes you can. The time will be determined but the minimum commitment for CA will definitely leave you with room to work part-time.
  %br
  %h2 Do I need to buy books?
  %p We provide all the learning materials and resources necessary, isn&#39;t that a nice change from normal school?
  %br
  %h2 Do I need to use my own computer?
  %p Nope. You&#39;re more than welcome to bring it in. But we will be supplying computers for the pairing stations.
  %br
  #stand-up
    %h2 What&#39;s a daily stand-up?
    %p A short meeting where everyone shares their goal for the session.
  %br
  #pair
    %h2 What&#39;s pair programming?
    %p A software development methodology that has two people work collaboratively on the same computer, it&#39;s been proven to save time and effort in the long haul and increase the quality of one&#39;s learning as well as the code that is written.
  %br