:javascript
  jQuery(window).bind("load", function() {
  	jQuery("div#slider1").codaSlider()
  	// jQuery("div#slider2").codaSlider()
  	// etc, etc. Beware of cross-linking difficulties if using multiple sliders on one page.
  });
.splash
  #mast-wrapper.container
    #mast-body
      %img{:alt => "Code Academy", :src => "images/logo_tagline_03.png"}/
      %p#sell Beginner-focused.  12 weeks.  Downtown Chicago. Code Academy is a game changer for your career.
    #buttons
      %a{:href => "#"}
        %img#submit{:alt => "Submit Application", :src => "images/start_app_03.png"}/
      %img{:alt => "Download Program Info", :src => "images/download_info_03.png"}/
    /= image_tag '../images/mast_temp.jpg'
#testimonial
  .testimonial.inner
    = image_tag '../images/testimonial_temp.png'
#solve
  .solve.inner
    #splash-1
      %img#icons{:alt => "Code Academy", :src => "images/lbs_icons_03.png"}/
      %h1 Learn. Build. Solve.
      .cl-15
      %h3 Coding is not just for the chosen few. Anyone can learn with the right environment, resources and dedication - we created Code Academy to do just that.
      %img#program-preview{:alt => "Program information", :src => "images/program_preview_03.png"}/
      #options
        %img.buttons{:alt => "Overview" , :src => "images/overview_button_03.png"}/
        %img.buttons{:alt => "Schedule" , :src => "images/schedule_button_03.png"}/
        %img.buttons{:alt => "Students" , :src => "images/students_button_03.png"}/
        %img.buttons.last{:alt => "Space" , :src => "images/space_button_03.png"}/
#learn_best
  .learn_best.inner
    = image_tag '../images/people_preview_03.png'
    
    
#home-rotator
  %noscript
    %p Unfortunately your browser does not have JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:
    %ol
      %li
        You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of
        = succeed "." do
          %a{:href => "http://www.getfirefox.com"} Firefox
      %li
        You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site.
        = succeed "." do
          %a{:href => "http://www.google.com/support/bin/answer.py?answer=23852"} Information on enabling JavaScript
  .slider-wrap
    #slider1.csw
      .panelContainer
        .panel{:title => "Home"}
          .wrapper
            #value-1
              %img{:alt => "Code Academy", :src => "images/new_ca_logo_03.png"}/
              %h1.Fr
                WE TEACH PASSIONATE PEOPLE HOW TO BUILD Here
              %a.cross-link{:href => "#5", :title => "Go to Space"} « Previous
              |
              %a.cross-link{:href => "#2", :title => "Go to Program"} Next »
        .panel{:title => "Program"}
          .wrapper
            #value-2
              %h1.Fr
                Nick's Program Infographic Goes here
              %a.cross-link{:href => "#1", :title => "Go to Home"} « Previous
              |
              %a.cross-link{:href => "#3", :title => "Go to Schedule"} Next »
        .panel{:title => "Schedule"}
          .wrapper
            #value-3
              %h1.Fr
                Nick's schedule infographic goes here
              %a.cross-link{:href => "#2", :title => "Go to Program"} « Previous
              |
              %a.cross-link{:href => "#4", :title => "Go to Students"} Next »
        .panel{:title => "Students"}
          .wrapper
            #value-4  
              %h1.Fr
                Nick's Student Infographic Goes Here
              %a.cross-link{:href => "#3", :title => "Go to Schedule"} « Previous
              |
              %a.cross-link{:href => "#5", :title => "Go to Space"} Next »
        .panel{:title => "Space"}
          .wrapper
            #value-5  
              %h1.Fr
                Nick's Space Infographic goes here
              %a.cross-link{:href => "#4", :title => "Go to Schedule"} « Previous
              |
              %a.cross-link{:href => "#1", :title => "Go to Home"} Next »
      / .panelContainer
    / #slider1
  / .slider-wrap
  %p#cross-links
    Same-page cross-link controls:
    %br/
    %a.cross-link{:href => "#1"} Home
    |
    %a.cross-link{:href => "#2"} Program
    |
    %a.cross-link{:href => "#3"} Schedule
    |
    %a.cross-link{:href => "#4"} Students
    |
    %a.cross-link{:href => "#5"} Space
    

