
<div class="container">
  <div id="splash-bg">
    <div id="value-prop" class="wrapper">
      <img src="../images/ca_logo_copy_03.png" alt="Welcome to Code Academy" />
      <h1 class="Fr">We teach passionate people how to build <strong>Web Applications</strong></h1>
      <h2>Beginner-focused.  12 weeks.  Downtown Chicago.
      Code Academy is a game changer for your career.</h2>
    </div>
    
    <div class="button">
      <h3>Here's How</h3>
    </div>
  </div>
</div>