.container
  #splash-bg
    #value-prop.wrapper
      %img{:alt => "Welcome to Code Academy", :src => "../images/ca_logo_copy_03.png"}/
      %h1.Fr
        We teach passionate people how to build
        %strong Web Applications
      %h2
        Beginner-focused.  12 weeks.  Downtown Chicago.
        Code Academy is a game changer for your career.
    .button
      %h3 Download PDF
    .button
      %h3 Apply Now
    #featured-quotes
      %img{:alt => "Bill Pescatello", :src => "../images/bill_p.png"}/
      %p
      
#target-examples.section.part
  %ul.links
    %li
      %a#program-selector{:href => "#", :title => "$(...).scrollTo( 'li:eq(4)', 800 );"} Relative selector
  #pane-target.pane
    %ul.elements{:style => "height:1011px; width:1820px;"}
      %li
        %p 0
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 1
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 2
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 3
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 4
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 5
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 6
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 7
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 8
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 9
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 10
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 11
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 12
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 13
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 14
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 15
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
      %li
        %p 16
        %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back