
#scroll-container
  #target-examples.section.part
    #pane-target.pane
      %ul.elements{:style => "height:2500px; width:10000px;"}
        %li.pane-0
          %h1 Main Home Panel
        %li.pane-1
          %h1 Program Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
        %li.pane-2
          %h1 Staff Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
        %li.pane-3
          %h1 Community Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
        %li.pane-4
          %h1 Video Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
        %li.pane-5
          %h1 Apply Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
    
        