
#scroll-container
  #target-examples.section.part
    #pane-target.pane
      %ul.elements{:style => "height:2500px; width:10000px;"}
        %li.pane-0
          .container
            #splash-bg
              #value-prop.wrapper
                %img{:alt => "Welcome to Code Academy", :src => "../images/ca_logo_copy_03.png"}/
                %h1.Fr
                  We teach passionate people how to build
                  %strong Web Applications
                %h2
                  Beginner-focused.  12 weeks.  Downtown Chicago.
                  Code Academy is a game changer for your career.
              .button
                %h3 Here's how.
        %li.pane-1
          %h1 Program Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
        %li.pane-2
          %h1 Staff Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
        %li.pane-3
          %h1 Community Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
        %li.pane-4
          %h1 Video Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
        %li.pane-5
          %h1 Apply Panel
          %a.back{:href => "#", :title => "$(...).scrollTo( 0, 800, {queue:true} );"} go back
    
        
