%p We are building an mobile-optimized version of the Code Academy site, so in the meantime, please visit codeacademy.org on a Chrome, Firefox or Safari for the best viewing experience. Thanks for your patience!
%img{:alt => "Code Academy", :src => "images/big_logo_03.png"}/
%h2 We teach passionate people how to build web applications
%p Code Academy is an immersive, twelve-week program teaching web application development and entrepreneurial practice to beginners. We teach you how to build a web applications with Ruby on Rails in an entrepreneurial context. But more importantly, Code Academy exists to solve problems you care about and empower you to be successful at whatever you choose to do.
%h1 Learn. Build. Solve.
%h3 Coding is not just for the chosen few. 
%h3 Anyone can learn with the right environment, resources and dedication.
%h1 Program
%h3 12 weeks. 3 days a week. 4 hours a day.
%p You will go from being a novice to reputable aspirant - equipped with foundational development skills, and a marketable understanding of how to lead the execution of a start-up. This is an exclusive opportunity that gives you an enormous network of resources from the entrepreneurship and technology communities in Chicago.
%h1 Students
%h3 Who are we looking for?
%p
  %strong Passionate. 
  You care about doing meaningful work. You have a burning desire to solve problems. You want to make a dent in the universe.
%p
  %strong Tenacious.
  You can withstand the demand of a fast-paced learning environment. You are diligent, focused and persistent. If you're quick to give up, this isn't for you.
%h1 Staff
  
%h3 Learn from the best.
%h1 Pricing


