.splash
  #mast-wrapper.container
    #mast-body
      %img.imgleft{:alt => "Welcome to Code Academy", :src => "images/big_logo_03.png"}/
      #ca-tagline
        %h2 We teach passionate people how to build
        %br
        %h2
          %strong web applications
      %p#sell Beginner-focused. 12 weeks. Downtown Chicago. 
      %p#tag 
        %strong Code Academy 
        is a game changer for your career.
      #apply-button
        %a{:href => "http://www.formstack.com/forms/?1096528-6YgVaD43vw"}
          %button.button.red Apply Now!
      %a{:href => new_information_request_path }
        /%img{:alt => "Get Program Info", :src => "images/get_program_info_03.png"}/
    /= image_tag '../images/mast_temp.jpg'
#testimonial
  .testimonial.inner
    %img{:alt => "Moshe Tamssot, CEO, CookItForUs.com, A 2011 Excelerate Company", :src => "images/moshe_03.png"}/
    %p.quote
      %strong.home 
        "The people who leave Code Academy will leave with the Ruby on Rails knowledge and connections to set themselves up for a bright future in Chicago’s technology scene, and I’m looking forward to meeting them."
        %br
      %em - Dave Hoover, Chief Craftsman and Principal at Obtiva
    
#solve
  .solve.inner
    #splash-1
      %a{:href => "/program#1"}
        %img#icons{:alt => "Learn Build Solve Icons.", :src => "images/lbs_icons_03.png"}/
      %a{:href => "/program#1"}
        %h1 Learn. Build. Solve.
      .cl-15
      %h3 Coding is not just for the chosen few. 
      %h3 Anyone can learn with the right environment, resources and dedication.
      .program-preview
        #red-title
          %a{:href => "/program#1"}
            %h4 Learn More About Our Program
        #options
          %a{:href => "/program#1"}
            %img.program-preview{:alt => "Blue Base", :src => "images/blue_stripped_base_03.png"}/
          #options-buttons
            %a{:href => "program#4"}
              %img.buttons.last#space-img{:alt => "Space" , :src => "images/space_button.png"}/
              %p Space
            %a{:href => "program#3"}
              %img.buttons#students-img{:alt => "Students" , :src => "images/students_button.png"}/
              %p Students
            %a{:href => "program#2"}
              %img.buttons#schedule-img{:alt => "Schedule" , :src => "images/schedule_button.png"}/
              %p Schedule
            %a{:href => "/program#1"}
              %img.buttons#overview-img{:alt => "Overview" , :src => "images/overview_button.png"}/
              %p Overview
#learn_best
  .learn_best.inner
    %img#people_preview{:alt => "Code Academy Mentors, Staff, and Advisors" , :src => "images/people_wall_03.png"}/
    #learn-content
      %h3 Learn From The Best
      %p Books, tutorials, and screencasts can only go so far. At the end of the day, the majority of us need more personal training and support in order to effectively learn.
    #meet_team_button
      %a{:href => "/staff"}
        %img{:alt => "Meet Code Academy Button" , :src => "images/meet_team_button_03.png"}/
    
