.splash
  #mast-wrapper.container
    #mast-body
      %img.imgleft{:alt => "Code Academy", :src => "images/big_logo_03.png"}/
      #ca-tagline
        %h2 We teach passionate people how to  
        %h2 build web applications
      %p#sell Beginner-focused. 12 weeks. Downtown Chicago. 
      %p#tag 
        %strong Code Academy 
        is a game changer for your career.
#testimonial
  .testimonial.inner
    %img{:alt => "Moshe Tamssot", :src => "images/moshe_03.png"}/
    %p.quote
      %strong.home 
        "Code Academy will empower so many people. Once they learn how to code, they’ll be able to bring businesses to life. We’re reinventing the nation, one coder at a time."
        %br
      %em - Moshe Tamssot, CEO, CookItForUs.com
#solve
  .solve.inner
    #splash-1
      %img#icons{:alt => "Code Academy", :src => "images/lbs_icons_03.png"}/
      %h1 Learn. Build. Solve.
      .cl-15
      %h3 Coding is not just for the chosen few. 
      %h3 Anyone can learn with the right environment, resources and dedication.

