#disclaimer 
  %p We are building an mobile-optimized version of the Code Academy site, so in the meantime, please visit codeacademy.org on a Chrome, Firefox or Safari for the best viewing experience. Thanks for your patience!
.cl-35
%img{:alt => "Code Academy", :src => "images/big_logo_03.png"}/
%h2 We teach passionate people how to build web applications
%p Code Academy is an immersive, twelve-week program teaching web application development and entrepreneurial practice to beginners. Code Academy exists to solve problems you care about and empower you to be successful at whatever you choose to do.
.cl-15
%h1 Program
%h3 12 weeks. 3 days a week. 4 hours a day.
%p 
  You will go from being a novice to reputable aspirant - equipped with foundational development skills, and a marketable understanding of how to lead the execution of a start-up. This is an exclusive opportunity that gives you an enormous network of resources from the entrepreneurship and technology 
  %br communities in Chicago.
.cl-15
%h1 Students
%h3 Who are we looking for?
%p
  %strong Passionate. 
  You care about doing meaningful work. You have a burning desire to solve problems. You want to make a dent in the universe.
%p
  %strong Tenacious.
  You can withstand the demand of a fast-paced learning environment. You are diligent, focused and persistent. If you're quick to give up, 
  %br
  this isn't for you.
.cl-15
%h1 Pricing
%p Tuition is $6,000. It may seem like a lot - but consider that you are making an investment in yourself. It’s 144 hours of hands-on, personalized learning that you are going to carry with you for the rest of your life. It will shift your perspective and catapult your career. You are giving yourself the power to build your dreams. If anything, $6,000 is a steal.
.cl-15
%h1 Want to apply?
%p 
  Get on our your laptop and visit http://codeacademy.org/apply to apply today! 
  %strong Save $1,500 with the Early Bird Discount 
  if you apply before August 13th. That makes tuition
  $4,500 
  %br for the fast-movers.

