<div id="how" class="container">
	<div class="row">
    <section id="how-story">
      <h2>Agile (adapt as we go), angry (we tackle big problems with tenacity), awesome (we have fun while we work to change the world). We’ve taken the best of all worlds and stripped them down to the essentials.</h2>
      <p>It all began on one Wednesday morning...</p>
    </section>
  </div>
</div>