#pricing.container
  .cl-15
  #pricing-header
    %h1 Invest In Yourself.
    %h3 Tuition is $6,000. It may seem like a lot - but consider that you are 
    %strong making an investment in yourself. It’s 
    %strong 144 hours
    of hands-on, personalized learning that you are going to carry with you for the rest of your life. It will shift your perspective and catapult your career. You are giving yourself the power to build your dreams. If anything, $6,000 is a steal. 
  .cl-15
  #diff-factors
    %h2 Physical Space
    %p
      %strong Current situation:
      Most paths to learning web development outside of formal education are virtually housed.
    %p
      %strong With Code Academy:
      We will accelerate learning through face-to-face collaboration with other students and mentors by being a physical destination in Chicago.  Additionally, being situated within the entrepreneurial hub will provide students access to abounding opportunities with entrepreneurial community members, increasing our value provided.
    %h2 Technology
    %p Code Academy will be equipped with top-of-the-line technology so that students learn the most useful software and hardware used in the development of Rails programs today.  Our costs cover the outfitting of the instruction facility with all the tools needed to learn the trade of Rails web development in any of the cutting-edge Rails development firms of Chicago.
    %p The facility will not only be used during class time, but will also be accessible to students outside of normal class times, so that they reap the full benefit of the technology their tuition covers.
    %h2 The Network
    %p Code Academy will give you access to the best developers, entrepreneurs, and investors that Chicago can offer. We have also established a network of advisers from around the country to provide students with the best environment to learn how to build web applications and succeed after the program.
    %h2 Tangibility
    %p Not only will the students learn the fundamentals of entrepreneurship and the basics of programming, but after three months, they will have finished the program with an alpha release of a web application.
    %h2 Expert Instruction
    %p Standard pay rate for the expert developer instructor of a day-long conference would be in the realm of $5,000 (approximately 10 hours of presentation plus prep time). You will get 
    %strong 12 hours (per week) 
    of instruction.
    .cl-35
  #benchmarks
    %h2 Benchmarking for Tuition Cost
    .cl-15
    %h3#lead
      Most Ruby on Rails development workshops and bootcamps charge $1500 - $3000 and last for no more than a week.
    %p
      To compare the hourly rates for instruction among these development workshops:
    %ul#competitors
      %li Blazing Cloud = $39 per hour (8 two-hour sessions $625)
      %li DigitalBootcamp $42 per hour  (8 week, 48 hour total bootcamp for web dev beginners at $1995)
      %li Pragmatic Programmers = $96 per hour  ($2300 for 3 days)
    %h2#ca
      Code Academy = $6000 / 144 hours = $41.66 per hour
    %p 
      %strong October 3rd - Dec. 21
      Class starts in downtown Chicago at a TBD location &#40;we&#39;re trying to decide which awesome space we will use - lots of options!&#41;.
    .cl-35
  #college
    %h3#lead More class time. Individualized learning. Better value.
    .cl-15
    %h2 University class cost/value comparison in Chicago
    %table.pretty
      %tr
        %th School
        %th Cost (for two classes in a quarter)
        %th Total Weekly Instruction
        %th Avg. Class Size     
      %tr
        %td University of Chicago (Undergrad)
        %td $6,700
        %td 6 hours
        %td 21 students
      %tr
        %td Northwestern University (Undergrad)
        %td $6,640
        %td 6 hours
        %td 22 students
      %tr
        %td University of Chicago Booth School of Business
        %td $10,180
        %td 6 hours
        %td 48 students
      %tr
        %td Kellogg School of Management
        %td $9,128
        %td 6 hours 
        %td 47 students
      %tr
        %td Code Academy
        %td $6,000
        %td 6 hours
        %td 12 students (plus 1 mentor per 2-3 students)
  
  %div{:style => "clear:both;"}