#pricing.container
  #apply-splash
    %img{:alt => "Code Academy", :src => "images/ca_logo_copy_03.png"}/
    %div{:style => "clear:both;"}
  #pricing-header
    %h1 Invest In Yourself.
    %h3 Only 12 people will be accepted. First class begins Oct. 3.
  #diff-factors
    %h2 Physical Space
    %h2 Technology
    %h2 The Network
    %h2 Tangibility
    %h2 Expert Instruction
      %p Standard pay rate for the expert developer instructor of a day-long conference would be in the realm of $5,000 (approximately 10 hours of presentation plus prep time).
      %strong You get 12 hours a week.
    .cl-35
  #benchmarks
    %h1 Benchmarking for Tuition Cost
    %h3#lead
      Most Ruby on Rails development workshops and bootcamps charge $1500 - $3000 and last for no more than a week.
    %p
      To compare the hourly rates for instruction among these development workshops:
    %ul#competitors
      %li Blazing Cloud = $39 per hour (8 two-hour sessions $625)
      %li DigitalBootcamp $42 per hour  (8 week, 48 hour total bootcamp for web dev beginners at $1995)
      %li Pragmatic Programmers = $96 per hour  ($2300 for 3 days)
    %h2#ca
      Code Academy = $6000 / 144 hours = $41.66 per hour
    %p 
      %strong October 3rd - Dec. 21
      Class starts in downtown Chicago at a TBD location &#40;we&#39;re trying to decide which awesome space we will use - lots of options!&#41;.
    .cl-35
  #college
    %h3#lead We are better than college.
    %h1 University class cost/value comparison in Chicago
      %table.pretty
        %tr
          %th School
          %th Cost (for two classes in a quarter)
          %th Total Weekly Instruction
          %th Avg. Class Size     
        %tr
          %td University of Chicago (Undergrad)
          %td $6,700
          %td 6 hours
          %td 21 students
        %tr
          %td Northwestern University (Undergrad)
          %td $6,640
          %td 6 hours
          %td 22 students
        %tr
          %td University of Chicago Booth School of Business
          %td $10,180
          %td 6 hours
          %td 48 students
        %tr
          %td Kellogg School of Management
          %td $9,128
          %td 6 hours 
          %td 47 students
        %tr
          %td Code Academy
          %td $6,000
          %td 6 hours
          %td 12 students (plus 1 mentor per 2-3 students)
  
  %div{:style => "clear:both;"}