:javascript
  jQuery(window).bind("load", function() {
  	jQuery("div#slider1").codaSlider()
  	// jQuery("div#slider2").codaSlider()
  	// etc, etc. Beware of cross-linking difficulties if using multiple sliders on one page.
  });
%noscript
  %p Unfortunately your browser does not hava JavaScript capabilities which are required to exploit full functionality of our site. This could be the result of two possible scenarios:
  %ol
    %li
      You are using an old web browser, in which case you should upgrade it to a newer version. We recommend the latest version of
      = succeed "." do
        %a{:href => "http://www.getfirefox.com"} Firefox
    %li
      You have disabled JavaScript in you browser, in which case you will have to enable it to properly use our site.
      = succeed "." do
        %a{:href => "http://www.google.com/support/bin/answer.py?answer=23852"} Information on enabling JavaScript
.slider-wrap
  #slider1.csw
    .panelContainer
      .panel{:title => "Overview"}
        .wrapper
          %h3 Overview
          %p Learn. Build. Solve.
          %p
            Coding is not just for the chosen few.  Anyone can learn with the right environment, resources and dedication - we created Code Academy to do just that. We teach aspiring developers and entrepreneurs how to build their own web applications with Ruby on Rails.
          %p
            "Most" people read books, tutorials, do workshops, and spend lots of time (and $$$) without the necessary resources, motivation and environment to make sure what they learn sticks.  Code Academy takes those missing elements and makes them the priority.
          %p
            We are beginner-focused, collaborative, and intensive.  We provide you with everything necessary for coding: computers, software, and an environment (link to space) that makes learning and productivity unavoidable. You'll learn more in 12 weeks than most do in a year.
          %p
            Insert schedule recap callout here
          %p What You Will Learn:
          %p
            Insert learning list here.
          %p What You Will Build:
          %p
            Insert build list here.
          %p Applying Your New Skills
          %p
            Insert skills list here.
          %p
            %a.cross-link{:href => "#5", :title => "Go to Extra Panel"} « Previous
            |
            %a.cross-link{:href => "#2", :title => "Go to Schedule"} Next »
      .panel{:title => "Schedule"}
        .wrapper
          %h3 Schedule
          %p The most immersive curriculum, ever.
          %p
            Insert daily schedule list here.
          %p
            Insert weekly schedule list here.
          %p
            Insert demo day content here.
          %p
            %a.cross-link{:href => "#1", :title => "Go to Overview"} « Previous
            |
            %a.cross-link{:href => "#3", :title => "Go to Students"} Next »
      .panel{:title => "Students"}
        .wrapper
          %h3 The Anti-Quitter
          %p Does this sound like you?
          %p
            Passionate.
          %p
            Tenacious.
          %p
            Beginner.
          %p
            %a.cross-link{:href => "#2", :title => "Go to Panel 2"} « Previous
            |
            %a.cross-link{:href => "#4", :title => "Go to Space"} Next »
      .panel{:title => "Space"}
        .wrapper
          %h3 Space
          %p The best environment you've ever done work in.
          %p
            We looked at some of the top software development and start-up environments around, and have designed the ultimate blend of collaborative and functional furniture and resources. We're nervous about having to kick you all out after hours.
          %p
            Insert equipment list here.
          %p
            %a.cross-link{:href => "#3", :title => "Go to Panel 3"} « Previous
            |
            %a.cross-link{:href => "#5", :title => "Go to Extra Panel"} Next »
      .panel{:title => "Extra"}
        .wrapper
          %h3 Extra
          %p This is an extra space just in case.
          %p
            %a.cross-link{:href => "#4", :title => "Go to Panel 4"} « Previous
            |
            %a.cross-link{:href => "#1", :title => "Go to Panel 1"} Next »
    / .panelContainer
  / #slider1
/ .slider-wrap
%p#cross-links
  Same-page cross-link controls:
  %br/
  %a.cross-link{:href => "#1"} Overview
  |
  %a.cross-link{:href => "#2"} Schedule
  |
  %a.cross-link{:href => "#3"} Students
  |
  %a.cross-link{:href => "#4"} Space
  |
  %a.cross-link{:href => "#5"} Extra