:javascript
  jQuery(window).bind("load", function() {
    jQuery("div#slider1").codaSlider()
    // jQuery("div#slider2").codaSlider()
    // etc, etc. Beware of cross-linking difficulties if using multiple sliders on one page.
    $(document).keyup(function(e) {
      switch (e.keyCode) {
        case 37: $('.stripNavL a').click(); break
        case 39: $('.stripNavR a').click(); break
        default: break
      }
    })
    $('.cross-link, .stripNavL a, .stripNavR a').each(function(i, el) {
      console.log(el)
      $(el).click(function() {
        $(window).scrollTo('.stripNav', {
          duration: 1000,
          easing: 'swing'
         })
      })
    })
  });
.slider-wrap
  #slider1.csw
    .panelContainer
      .panel{:title => "Overview"}
        .container
          #part-1
            %h1 Learn. Build. Solve.
            .cl-15
            %h3#lead
              Coding is not just for the chosen few. Anyone can learn with the right support, resources, and dedication.
            %p
              &#34;Most&#34; people read books, try tutorials, do workshops, and spend lots of time (and $$$) without the structure and support to make sure what they learn sticks - 
              %strong Code Academy
              fills these gaps. We empower people to take the ideas in their head and make them a reality through software.
            %p
              We are beginner-focused (no programming experience required), collaborative, and intensive. We provide you with everything necessary for coding: computers, software, and an environment that makes learning and productivity unavoidable. You'll learn more in 12 weeks than most do in a year.
          #part-2
            %h2 What You Will Learn
            %ul#skills
              %li
                The
                %a{:href => "http://rubyonrails.org/"} Ruby on Rails
                Web Application Framework
              %li 
                %a{:href => "http://diveintohtml5.org/"} HTML5 - 
                The new standard for web markup.
              %li 
                %a{:href => "http://www.css3.info/"} CSS3 -
                A powerful styling language for web design.
              %li Application Wireframing/Prototyping
              %li Test Driven Development/Agile Methodology
              %li Software Product Development
              %li Business Model Development
              %li Presentation Skills
            %p.callout.right 
              %span.opening &#8220;
              %br
              %strong
                Amazon&#39;s doing it. Twitter&#39;s doing it. EA&#39;s doing it. New York Times, 37 signals, LivingSocial, Funny or Die, Yahoo, JP Morgan, NASA, half the hot startups you can think of... they're all doing it.
              %em 
                Udemy.com on Ruby on Rails
          #part-3
            %h2 What You Will Build
            %p
              Take the app ideas that are in your head, and make them real on the web.
            %h3 For example:
            %ul#build
              %li 
                Build a portfolio of projects that represent your progress as an application developer.
              %li 
                Create your own social network site
              %li 
                Start an online e-commerce store
              %li
                Launch a project management suite
              %li 
                Build your own blog
          #part-4
            %h2 Applying Your New Skills
            %h3 Start your own company.
            %p By taking advantage of the resources and knowledge given to you at Code Academy, you’ll have the capacity to prototype your own web application without having to pay or rely on someone else to do it. At minimum, you’ll have a better understanding of the software development process to lead and organize a team as a founder of a tech startup.
            %h3 Get a job.
            %p 
              Start-ups, development shops, and larger tech companies are all interested in people who have experience and a passion for building software, especially with the 
              %a{:href => "http://rubyonrails.org/"} Ruby on Rails
              framework. People who have both the necessary business skills and technical foundation are a rare and valuable breed in the current employment landscape. This is what Code Academy will teach you, and as a result, will make you miles more marketable and unique to some of the best workplaces in Chicago and beyond.
            %h3 It's fun.
            %p You are on Facebook 36 hours a day, you tweet, you blog... but wouldn’t it be fun if you came up with the next big thing?  With Code Academy, you will no longer be just an admirer of what code produces. There’s no greater thrill than being able to take all the ideas you’ve had in the back of your head and turn them into something tangible and real.
            %h3 It's rewarding.
            %p 
              Code Academy is an unprecedented opportunity. It gives you the chance to interact with the 
              %a{:href => "/community"} best in the Chicago entrepreneurial and tech communities
              , and opens doors to networks you would not have encountered otherwise. Additionally, with the quality of the instruction and experience you will receive, Code Academy will unlock your perspective in terms of what you think you can accomplish.
            .cl-50
            %p#cross-links
              %a.cross-link{:href => "#4", :title => "Go to Space"} « Previous
              |
              %a.cross-link{:href => "#2", :title => "Go to Schedule"} Next »
      .panel{:title => "Schedule"}
        .container
          %h1#tab2 The most immersive curriculum, ever.
          %h3#lead-1
            12 weeks. 3 days a week. 4 hours a day.
          .cl-50
          %h2 Daily Schedule
          %p 
            Code Academy begins with a 
            %a{:href => "/faq#stand-up"}stand-up meeting
            to set the agenda and the projects that will be worked on. Then, class time will be spent 
            %a{:href => "/faq#pair"}pair programming
            and having various mentor workshops. The instructor will also conduct tutorial walkthroughs and ask the students to demonstrate and share their knowledge through code reviews. During certain classes, guest instructors will teach a session, providing a new perspective or offering their unique experiences as a software developer. Lectures on entrepreneurship and business application will also occur, highlighting the key pieces to provide context to the web application you are building.
          .cl-15
          %h2 Outside of class
          %p  Outside of the official class time, students will be encouraged to interact with each other, collaborate in the space to work on their projects and get advice and support from their mentor, the staff, and the instructor. Optional workshops will also be hosted by guest lecturers.
          .cl-50
          #weekly-schedule
            %img#ladder{:alt => "Visual Schedule Ladder describing the weekly schedule of Code Academy", :src => "images/schedule_ladder_03.png"}/
            %h2 Learner Mode
            %li Week 1: Intro to Code Academy and programming with Ruby
            %li Week 2: The basics of Ruby on Rails applications
            %li Week 3: Running a Rails project and application
            %li Week 4: Getting your feet wet with sample projects and tutorials
            %li Week 5: Waist deep with sample projects and tutorials
            %li Week 6: Reviewing and refining what you’ve learned
            %li Week 7: Preparing for your own project
            %li Week 8: Planning/Setup
            %li Week 9: UI Design
            %li Week 10: Coding the features and functionality
            %li Week 11: Polishing your prototype
            %li Week 12: Final presentation
            .cl-15
          %h2 Start-Up Mode
          %p  After you have achieved zen and taken the arduous path to learning the basics of Ruby on Rails, the last four weeks of Code Academy will be the time for you to apply these skills to solve your own problem. These four weeks are the most challenging, but also the most rewarding as well.
          %h2 Demo Day
          %p This is the grand finale.  For the final presentation, we invite the best of the Chicago entrepreneurship and tech communities - including CEOs, entrepreneurs, developers, and investors - for you to showcase your product and your learning.  You walk away with the chance to get invested in, get hired by a company, or join an apprenticeship at a top development firm.
          %p#cross-links
            %a.cross-link{:href => "#1", :title => "Go to Overview"} « Previous
            |
            %a.cross-link{:href => "#3", :title => "Go to Students"} Next »
      .panel{:title => "Students"}
        .container
          %h1#tab3 Does this sound like you?
          .cl-50
          /%img#profile{:alt => "Student Profile", :src => "images/students_profile_03.png"}/
          %h2 The Anti-Quitter
          %p Passionate. You care about doing meaningful work. You have a burning desire to solve problems. You want to make a dent in the universe.
          %p
            Tenacious. You can withstand the demand of a fast-paced learning environment. You are diligent, focused and persistent. If you're quick to give up, this isn't for you.
          %p We are accepting 12 students for the Fall 2011 class. Applicants should be available to meet on-location in downtown Chicago for the duration of the program.
          %p#cross-links
            %a.cross-link{:href => "#2", :title => "Go to Panel 2"} « Previous
            |
            %a.cross-link{:href => "#4", :title => "Go to Space"} Next »      
      .panel{:title => "Space"}
        .container
          %h1#tab4 The best environment you've ever done work in.
          %h3#lead After looking at some of the top software development and start-up environments around, we designed the ultimate blend of collaborative and functional furniture and resources.
          .cl-15
          #equipment
            %img.photo{:alt => "Pairing Stations, Great Computer Chairs, Whiteboards, Conference Tables, Couches", :src => "images/equipment_list_03.png"}
          #pairing.description
            %h2 Pairing Stations
            %p Pair programming allows you to learn collaboratively and make less mistakes as you write code.
          #chairs.description
            %h2 Great computer chairs
            %p Since a lot of your work will be done in a seated position, we'll make sure that's an enjoyable experience for you.
          #whiteboard.description
            %h2 Whiteboards
            %p Brainstorm ideas for your web applications, and translate them from your head to the board and from the board into code.
          #tables.description
            %h2 Conference Tables
            %p For meeting with mentors, switching up the work setting from the desk, things like that.
          #couches.description
            %h2 Couches
            %p We like to work, but we also know that relaxing is critical to your learning success. And couches are just awesome anyway, so they sell themselves.
          .cl-15
          %p#cross-links
            %a.cross-link{:href => "#3", :title => "Go to Panel 3"} « Previous
            |
            %a.cross-link{:href => "#1", :title => "Go to Panel 1"} Next »
    / .panelContainer
  / #slider1
/ .slider-wrap
%p#cross-links
  %a.cross-link{:href => "#1"} Overview
  |
  %a.cross-link{:href => "#2"} Schedule
  |
  %a.cross-link{:href => "#3"} Students
  |
  %a.cross-link{:href => "#4"} Space
