<h1>Pages#program</h1>
<p>Find me in app/views/pages/program.html.erb</p>

<div id="about" class="container">
	<div class="row">
    <section id="about-story">
      <h2>We’ve felt the problem, and have faced it the hard way so you don’t have to. This is our story.</h2>
      <p>It all began on one Wednesday morning...</p>
    </section>
  </div>
</div>