<h1>Learn from the best.</h1>
 <div id="instructor">
   <img src="#" alt="Jeff Cohen is awesome!" />
   <h2>Jeff Cohen</h2>
   <p>Jeff Cohen wrote the book Ruby on Rails for .NET developers. He has worked with object-oriented programming languages and Microsoft application frameworks for more than 15 years. A former Microsoft Certified Solution Developer, he is now a Ruby on Rails core contributor. He is the founder of Purple Workshops and conducts training classes for agile software teams. Jeff is also a senior software engineer at Leapfrog Online.</p>  
 </div>
 
 <div class="mentors">
   <div id="chad">
     <img src="#" alt="Chad Pry is awesome!" />
     <h2>Chad Pry</h2>
     <p id="role">Software Consultant at Obtiva/Groupon, Ruby on Rails Developer</p>
   </div>
   <div id="eric">
     <img src="#" alt="Eric Meyer is awesome!" />
     <h2>Eric Meyer</h2>
     <p id="role">Software Consultant at 8thlight, Ruby on Rails Developer</p>
   </div>
   <div id="dave">
     <img src="#" alt="Dave Hoover is awesome!" />
     <h2>Dave Hoover</h2>
     <p id="role">Chief Principal at Obtiva, Ruby on Rails Developer</p>
   </div>
   <div id="jc">
     <img src="#" alt="JC Grubbs is awesome!" />
     <h2>JC Grubbs</h2>
     <p id="role">Software Consultant at Obtiva/Groupon, Ruby on Rails Developer</p>
   </div>
   <div id="ginny">
     <img src="#" alt="Ginny Hendry is awesome!" />
     <h2>Ginny Hendry</h2>
     <p id="role">Organizer of the Ruby on Rails workshop for women, Ruby on Rails Developer</p>
   </div>
   <div id="frank">
     <img src="#" alt="Frank Pinto is awesome!" />
     <h2>Frank Pinto</h2>
     <p id="role">User Experience Designer and Creative Director at Benchprep, Ruby on Rails Developer</p>
   </div>
 </div>
 
 <div class="leadership">
   <h3>We started Code Academy because we spent the past year teaching ourselves web development on our own. As non CS majors in college, and having exhausted the books, screencasts, tutorials, and workshops available, we realized there was an unnecessary barrier for people to acquire these skills.</h3>
   <div id="neal">
     <img src="#" alt="Neal is awesome!" />
     <h2>Neal Sales-Griffin</h2>
     <p>Chief Executive Officer</p>
   </div>
   <div id="mike">
     <img src="#" alt="Mike is awesome!" />
     <h2>Mike McGee</h2>
     <p>Chief Creative Officer</p>
   </div>
   <div id="claire">
     <img src="#" alt="Claire is awesome!" />
     <h2>Claire Lew</h2>
     <p>Chief Marketin Officer</p>
   </div>
   <div id="maggie">
     <img src="#" alt="Maggie is awesome">
     <h2>Maggie Jim</h2>
     <p></p>
   </div>
 </div>