.cl-15
%section.intro
  %h1 Learn from the best.
  %h3 Books, online tutorials and screen casts only go so far. At the end of the day, the majority of us need more personal training and support in order to effectively learn.
  .cl-15
%section#instructor
  %ul
    %li
      %a.photo{:href => "#"}
        %img{:alt => "Jeff Cohen is awesome!", :src => "../images/jeff_instructor_03.png"}/
    %li.content  
      %h2 Jeff Cohen
      %p Jeff Cohen wrote the book Ruby on Rails for .NET developers. He has worked with object-oriented programming languages and Microsoft application frameworks for more than 15 years. A former Microsoft Certified Solution Developer, he is now a Ruby on Rails core contributor. He is the founder of Purple Workshops and conducts training classes for agile software teams. Jeff is also a senior software engineer at Leapfrog Online.
.cl-50
%section.intro
  %h1 Say hello to your mentors.
  %h3 Our Code Academy mentors are ready and willing to support each of you to execute on your ideas, as well as open up the networks to their organizations.
.cl-15
#mentors.wrapper
  %section#mentor-list
    %ul
      %li.bio
        %a.photo{:href => "#"}
          %img{:alt => "Dave Hoover is awesome!", :src => "../images/dave_mentor_03.png"}/
          %span.fn Dave Hoover
          %br 
          %span.role Chief Craftsman and Principal at Obtiva
      %li.bio
        %a.photo{:href => "#"}
          %img{:alt => "Eric Meyer is awesome!", :src => "../images/eric_mentor_03.png"}/
          %span.fn Eric Meyer
          %br
          %span.role Software Consultant at 8thlight
      %li.bio
        %a.photo{:href => "#"}
          %img{:alt => "Chad Pry is awesome!", :src => "../images/chad_mentor_03.png"}/
          %span.fn Chad Pry
          %br
          %span.role Software Consultant at Obtiva & Groupon
      %li.bio
        %a.photo{:href => "#"}
          %img{:alt => "Frank Pinto is awesome!", :src => "../images/frank_mentor_03.png"}/
          %span.fn Frank Pinto
          %br
          %span.role User Experience Designer and Creative Director at Benchprep
      %li.bio
        %a.photo{:href => "#"}
          %img{:alt => "JC Grubbs is awesome!", :src => "../images/jc_mentor_03.png"}/
          %span.fn JC Grubbs
          %br
          %span.role Software Consultant at Obtiva & Groupon 
      %li.bio.last
        %a.photo{:href => "#"}
          %img{:alt => "Ginny Hendry is awesome!", :src => "../images/ginny_hendry.jpeg"}/
          %span.fn Ginny Hendry
          %br
          %span.role Organizer of the Ruby on Rails workshop for women, Ruby on Rails Developer
.cl-50
%section.intro
  %h1 The team behind the curtain.
  %h3 We started Code Academy because we spent the past year teaching ourselves web development on our own. As non CS majors in college, and having exhausted the books, screencasts, tutorials, and workshops available, we realized there was an unnecessary barrier for people to acquire these skills.
.cl-15
%section#leadership
  %ul
    %li.bio
      %a.photo{:href => "#"}
        %img{:alt => "Neal is awesome!", :src => "../images/neal_leadership_03.png"}/
        %span.fn Neal Sales-Griffin
        %br
        %span.role Chief Executive Officer
    %li.bio
      %a.photo{:href => "#"}
        %img{:alt => "Mike is awesome!", :src => "../images/mike_leadership_03.png"}/
        %span.fn Mike McGee
        %br
        %span.role Chief Creative Officer
    %li.bio
      %a.photo{:href => "#"}
        %img{:alt => "Claire is awesome!", :src => "../images/claire_leadership_03.png"}/
        %span.fn Claire Lew
        %br
        %span.role Chief Marketing Officer
    %li.bio
      %a.photo{:href => "#"}
        %img{:alt => "Maggie is awesome", :src => "../images/maggie_leadership_03.png"}
        %span.fn Maggie Jim
        %br
        %span.role Chief Financial Officer