<h1>Get excited.</h1>

<div class="students">
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
</div>



<div class="entrepreneurs">
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
</div>

<div class="developers">
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
</div>

<div class="investors">
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
  <div id="">
    <h3></h3>
  </div>
</div>