%h1 Get excited.

%iframe{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "http://www.youtube.com/embed/Qz2FsRtJC1o?rel=0&hd=1&autoplay=1", :width => "852"}

.entrepreneurs
  %h2 Entrepreneurs
  #troy
    %h3
      %a{:href => "#"} Troy
  #jessica
    %h3
      %a{:href => "#"} Jessica
  #desiree
    %h3
      %a{:href => "#"} Desiree
.developers
  %h2 Developers
  #jc
    %h3 JC
  #neal
    %h3 Neal
  #claire
    %h3 Claire
.students
  %h2 Students
  #sarah
    %h3 Sarah
  #sandeep
    %h3 Sandeep
.investors
  %h2 Investors