%h1 Get excited.

%iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "http://www.youtube.com/embed/Qz2FsRtJC1o?rel=0&hd=1", :width => "767"}

.entrepreneurs
  %h2 Entrepreneurs
  #troy
    %h3
      %a{:href => "#"} Troy
  #jessica
    %h3
      %a{:href => "#"} Jessica
  #desiree
    %h3
      %a{:href => "#"} Desiree
.developers
  %h2 Developers
  #jc
    %h3
      %a{:href => "#"} JC
  #neal
    %h3
      %a{:href => "#"} Neal
  #claire
    %h3
      %a{:href => "#"} Claire
.students
  %h2 Students
  #sarah
    %h3
      %a{:href => "#"} Sarah
  #sandeep
    %h3
      %a{:href => "#"} Sandeep
.investors
  %h2 Investors
  
  .demo
    #accordion
      %h2
        %a{:href => "#"} Section 1
      %div
        %h3
          Mauris mauris ante.
      %h2
        %a{:href => "#"} Section 2
      %div
        %h3
          Sed non urna.
      %h2
        %a{:href => "#"} Section 3
      %div
        %h3
          Nam enim risus.
      %h2
        %a{:href => "#"} Section 4
      %div
        %h3
          Cras dictum.