#videos.container
  .cl-15
  %h1 
    Get excited.
    .cl-15
    .wrapper
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "http://www.youtube.com/embed/SRzgZHn9ix8", :width => "767", }
      .cl-15
      %h3#more-videos More videos coming soon!
      %div{:style => "clear:both;"}
    .cl-15
  #chicago-quotes.container
    %h1
      Hear what Chicago is saying.
    .cl-15
      %div{:style => "clear:both;"}
    %p.callout.left 
      %span.opening &#8220;
      %br
      %strong 
        Code Academy is an awesome way for people to get into programming that didn’t come from computer science.
        
      %em 
        JC Grubbs, Ruby on Rails Developer at 
        %a{:href => "http://obtiva.com"}Obtiva 
        & 
        %a{:href => "http://groupon.com"}Groupon
    %p.callout.right 
      %span.opening &#8220;
      %br
      %strong 
        The thing that excites me the most is […] fact that Code Academy wants to pair us with the minds who are the driving force in the industry right now.

      %em 
        Tommy Giglio, Freelance Web Designer/Developer
    %p.callout.left 
      %span.opening &#8220;
      %br
      %strong 
        I think every single one of them will be snapped up within, probably the day of graduation, or you’ll have people kicking down Code Academy doors trying to get them to drop out in week 10 to come start working on their startup.
      
      %em 
        Logan Lahive, Founder-in-Residence 
        %a{:href => "http://lightbank.com"} Lightbank
    %p.callout.right.maliha
      %span.opening &#8220;
      %br
      %strong 
        I have a business background, not knowing how to code is a limiting factor.

      %em 
        Maliha Mustafa, Co-founder/Entrepreneur
        %a{:href => "http://sparkchi.com"} SPARK Chicago
    %p.callout.left
      %span.opening &#8220;
      %br
      %strong 
        I feel that when you go and you learn something like this and someone teaches you how to use these tools, then, you’re still at your own desk and the world is at your fingertips.

      %em 
        Max Brawer, Student 
        %a{:href => "http://northwestern.edu"} Northwestern University  
    %p.callout.right.troy
      %span.opening &#8220;
      %br
      %strong 
        I think Code Academy is going to be awesome for bringing in a new class of young people who are eager to work in a start-up environment.
      %em 
        Desiree Vargas Wrigley, CEO & Co-Founder of
        %a{:href => "http://www.giveforward.com/"} GiveForward