%h1 Get excited.
.students
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
.entrepreneurs
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
.developers
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
.investors
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3