%h1 Get excited.

%iframe{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "http://www.youtube.com/embed/Qz2FsRtJC1o?rel=0&hd=1&autoplay=1", :width => "852"}

.students
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
.entrepreneurs
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
.developers
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
.investors
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3
  %div{:id => ""}
    %h3