<div id="why" class="container">
	<div class="row">
    <section id="why-story">
      <h2>We’re here to make a dent in the universe. Here are our values.</h2>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
  </div>
</div>