#fsLightbox1096528.fsLightbox{:style => "display:none;"}
  %div{:align => "bottomRight", :style => "padding:5px;"}
    %a#fsLightboxClose1096528{:href => "#", :style => "color:#000", :title => "close"} [close]
  %div{:style => "height:450px; padding-top:20px; overflow:auto;"}
    %script{:src => "http://www.formstack.com/forms/js.php?1096528-6YgVaD43vw-v2", :type => "text/javascript"}
%script{:src => "http://www.formstack.com/forms/js/lightbox.js", :type => "text/javascript"}
:javascript
  var fsLightbox1096528 = new FSLightbox({form: 1096528, handleText: "Code Academy Application", handlePosition: "bottomRight",
      handleImage: "http://www.formstack.com/forms/lightboxHandle.php?str=Code+Academy+Application"
  });

#main-footer
  .container
    %nav
      %ul
        / %li= link_to 'Download brochure', "/pdf/brochure.pdf" 
        %li= link_to 'Get more information', requestinformation_path
        %li
          %a{:href => "http://twitter.com/#!/codeacademy"} Twitter
        %li 
          %a{:href => "http://www.facebook.com/pages/Code-Academy/156565477744131"} Facebook
        %li 
          %a{:href => "mailto:contact@codeacademy.org"} Email Us
    
      %div{:style => "clear:both;"}