<div id="home" class="container">
	<div class="row">
    <section id="splash">
      <img id="logo" src="images/ca_logo_copy_03.png" alt="Code Academy">
      <div class="sevencol">
        <h3>We teach passionate people how to build</h3>
        <h2>Web Applications</h2>
        <p>You’ve got exciting ideas in your head for kick-ass web applications. With Code Academy, you will learn how to build it yourself, because no one will care about YOUR idea more than YOU.</p>
        <div id="download" class="button">
          <p>Download Program Info</p>
        </div>
        <div id="submitapp" class="button">
          <p>Submit application</p>
        </div>
      </div>
    </section>
    
    <section id="featured-quote">
      <img src="images/bill_p.png" alt="Bill Pescatello" />
      <p>I've known entrepreneurs who've taken books and taught 
      themselves programming in their basement. And have built businesses a couple 
      years later. If they could've had an academy to speed that up, it would've 
      been an invaluable service. -Bill Pescatello,  <strong>Lightbank.com</strong></p>
    </section>
    
    <section id="lead-ins">
      <div class="threecol">
        <h5>About Us</h5>
        <h3>We teach passionate people how to build web applications.</h3>
        <p>Tap into the greater learning community and connect with other test takers, classmates and educators to increase your understanding and improve scores.</p>
        <p><a href="#">Learn more</a></p>
      </div>
      <div class="threecol">
        <h5>About You</h5>
        <h3>We teach passionate people how to build web applications.</h3>
        <p>Tap into the greater learning community and connect with other test takers, classmates and educators to increase your understanding and improve scores.</p>
        <p><a href="#">Learn more</a></p>
      </div>
      <div class="threecol">
        <h5>The Problem</h5>
        <h3>We teach passionate people how to build web applications.</h3>
        <p>Tap into the greater learning community and connect with other test takers, classmates and educators to increase your understanding and improve scores.</p>
        <p><a href="#">Learn more</a></p>
      </div>
      <div class="threecol last">
        <h5>The Solution</h5>
        <h3>We teach passionate people how to build web applications.</h3>
        <p>Tap into the greater learning community and connect with other test takers, classmates and educators to increase your understanding and improve scores.</p>
        <p><a href="#">Learn more</a></p>
      </div>
    </section>
  
  </div>
</div>
