<div id="instructors" class="container">
	<div class="row">
	  <section id="jeffcohen">
	    <img src="" alt="Jeff Cohen" />
	    <h2>We’ve got one of the best software development instructors around.</h2>
	    <h4>Most developers aren’t skilled at teaching and effective communication…
      <br />
      We’ve found the outlier.</h4>
      <p>Jeff Cohen wrote the book Ruby on Rails for .NET developers. Graduating from Northwestern University in the 90s with a communications degree, he stepped prominently into the world of software development. He has worked with object-oriented programming languages and Microsoft application frameworks for more than 15 years. A former Microsoft Certified Solution Developer, he is now a Ruby on Rails core contributor. He is the founder of Purple Workshops and conducts training classes for agile software teams. Jeff is also a senior software engineer at Leapfrog Online.</p>
    </section>
    
    <section id="mentors">
      <div class="bio">
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Troy Henikoff</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Francesco Pinto</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Chad Pry</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>JC Grubbs</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Eric Meyer</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Ginny Hendry</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Dave Hoover</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Corey Haines</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Sarah Gray</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Fred Ballard</h3>
        <p>The best in the business</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Shay Howe</h3>
        <p>The best in the business</p>
      </div>
    </section>
    
    <section id="staff">
      <div class="bio">
        <img src="" alt="" />
        <h3>Neal Sales-Griffin</h3>
        <p>We care too much.</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Mike McGee</h3>
        <p>We care too much.</p>
      </div>
      <div class="bio">
        <img src="" alt="" />
        <h3>Claire Lew</h3>
        <p>We care too much.</p>
      </div>
    </div>
    </section>
  </div>
</div>