= javascript_include_tag "application.js", "css3-mediaqueries.js"
%script{:src => "css3-mediaqueries.js", :type => "text/javascript"}
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", :type => "text/javascript"}