<div class="container" id="header">
  <div class="row">
    <h2>Code Academy</h2>
    <nav>		
      <ul>
        <li><a href= '#home' %>       Home</a>         </li>
        <li><a href= '#program' %>    Program</a>      </li>
        <li><a href= '#staff' %>Staff</a>  </li>
        <li><a href= '#community' %>   Community</a>     </li>
        <li><a href= '#videos' %>   Videos</a>     </li>
        <li><a href= '#apply' %>      Apply</a>        </li>
      </ul>
      <div style="clear:both;"></div>	
    </nav>
  </div>
</div>