<div class="container" id="header">
  <div class="row">
    <h2>Code Academy</h2>
    <nav>		
      <ul>
        <li><a href= '#home' %>       Home</a>         </li>
        <li><a href= '#instructors' %>Instructors</a>  </li>
        <li><a href= '#program' %>    Program</a>      </li>
        <li><a href= '#schedule' %>   Schedule</a>     </li>
        <li><a href= '#location' %>   Location</a>     </li>
        <li><a href= '#partners' %>   Partners</a>     </li>
        <li><a href= '#apply' %>      Apply</a>        </li>
      </ul>	
    </nav>
  </div>
</div>