<div id="partners" class="container">
  <div class="row">
    <section id="partners-wall">
      <h2>Money can’t buy this kind of access.</h2>
      <p>You’ll have exclusive exposure to the top technology, entrepreneurship, and investment leaders in Chicago and beyond. Don’t worry about resumes, your code will become your credentials.</p>
      <ul>
        <li>The city of Chicago, Mayor Rahm  Emanuel</li>
        <li>Obtiva</li>
        <li>Lightbank</li>
        <li>Excelerate</li>
        <li>Hashrocket</li>
        <li>8thlight</li>
        <li>OCA Ventures</li>
        <li>Sandbox</li>
        <li>Apex</li>
        <li>New World Ventures</li>
        <li>Model Metrics</li>
        <li>Heroku</li>
        <li>Jumpstart Lab</li>
        <li>37signals</li>
        <li>Wisdom Group</li>
        <li>Chicagoland Entrepreneurial Center (CEC)</li>
        <li>Groupon</li>
        <li>Hyde Park Angels</li>
        <li>Wildcat Angels</li>
      </ul>
      
      <p>Our supporters will provide hardware, software, mentors, instructors, workshops, networking events, and guest speakers. Their collaboration with Code Academy is built on the desire to enhance and empower the Chicago community with the next wave of successful tech entrepreneurs.</p>
    </section>
  </div>
</div>