<div id="program" class="container">
	<div class="row">
	  <section id="program-intro">
      <h2>Motivation is key.</h2>
      <p>Coding is not just for the chosen few. We believe anyone can learn with the right environment, resources, and dedication.</p>
      <br />
      <h2>Here it is. <strong>1 class. 12 weeks. 12 “students.”</strong></h2>
      <p>1 lead instructor, dozens of guest instructors. 6 top tier software developer mentors. 8am-12pm. MWF. Downtown Chicago. Located in the heart of Chicago, our program is beginner focused, collaborative, and efficient. You’ll learn more in 12 weeks than most do in a year.</p>
      <p>Starting October 3rd, the core sessions take place every Monday, Wednesday and Friday from 8 a.m. to noon for 12 weeks. We provide you with everything necessary for effective coding: computers, software, and an environment (see location) that makes learning and productivity unavoidable.</p>
      <p>We will be using the Ruby on Rails web application framework
      to rapidly equip you with the tools and skills to build. 
      Some of the best companies are riding rails, and it is one of the friendliest technologies
      for beginners to pick up in a short period of time.</p>  
    </section>
  </div>
</div>