!!!
%html
  %head
    %title Code Academy
    = csrf_meta_tag
    %link{:href => "../images/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag "iphone.css", :media => 'screen'
  %body
    %header
    = yield
    %footer
      = render 'shared/footer'
