!!!
%html
  %head
    %title Code Academy
    = csrf_meta_tag
    %link{:href => "../images/favicon.ico", :rel => "shortcut icon"}/
    = render 'layouts/mobile'
  %body
    %header
    = yield
    %footer
      = render 'layouts/footer'
